---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Equilibrio ácido-base | AVA">
    <div class="text-justify bg-white px-8 md:px-24 xl:px-48 pb-32" id="page1">
        <div class="h-48 flex justify-center align-middle ">
            <p class="text-2xl font-bold my-auto opacity-40">Conoce mas</p>
        </div>
        <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">¿Qué es el equilibrio ácido- base?</h1>
        <p>El equilibrio ácido-base es el balance que mantiene el organismo entre ácidos y bases con el objetivo de mantener un pH constante</p>
        <br>
        <p>¿Qué es el equilibrio ácido- base? Es el balance que mantiene el organismo, entre ácidos y bases, en el objetivo de mantener el pH constante y en los rangos adecuados; queremos que lo entiendas mucho mejor por eso te dejamos una imagen ilustrada que lo explica un poco mejor y más a fondo, para que lo tengas en cuenta y veas la importancia de mantener un pH balanceado. (1)</p>
        <br>
        <img src="../acido.png" alt="" class="w-full md:w-[30%] my-8">

        <iframe class="mt-16 mx-auto max-w-full" width="560" height="315" src="https://www.youtube.com/embed/HHNtSV-vSAQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="mt-24 opacity-60 w-full">
            <p class="italic">
            1. Equilibrio Ácido Base, mantén un pH constante evitando sus alteraciones [Internet]. Laboratorio Cobas. 2018 [citado el 30 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://laboratoriocobas.com/equilibrio-acido-base/">https://laboratoriocobas.com/equilibrio-acido-base/</a></span>
            </p>
            <br>
            <p class="italic">
            2. RadiometerMedical. Cómo entender el equilibrio ácido-base [Internet]. Youtube; 2017 [citado el 30 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.youtube.com/watch?v=HHNtSV-vSAQ">https://www.youtube.com/watch?v=HHNtSV-vSAQ</a></span>
            </p>
            <br>
            <p class="italic">
            3. IMAGEN 1 Facebook [Internet]. Facebook.com. [citado el 30 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://web.facebook.com/LuzMedicaMX/posts/1234177960266361/">https://web.facebook.com/LuzMedicaMX/posts/1234177960266361/</a></span>
            </p>
        </div>
    </div>
    <Footer/>
</Layout>