---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="¿Qué es la célula? | AVA">
    <div class="text-justify bg-white px-8 md:px-24 xl:px-48 pb-32" id="page1">
        <div class="h-48 flex justify-center align-middle ">
            <p class="text-2xl font-bold my-auto opacity-40">Conoce mas</p>
        </div>
        <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">¿Qué es el cambio climático?</h1>
        <p>El cambio climático son los efectos a largo plazo de las temperaturas y los patrones climáticos. Estos cambios suelen ser naturales, pero desde el siglo XIX, por causa de actividades humanas, éstas se volvieron el principal motor del cambio climático, debido principalmente a la quema de combustibles fósiles, como el carbón, el petróleo y el gas, lo que produce gases que atrapan el calor, dichos gases anterior mente afectan la capa de ozono haciendo que los rayos gama del sol puedan entrar más fácil a la atmósfera y causar alteraciones en el planeta (1).</p>
        <br>
        <h1 class="text-md md:text-2xl font-extrabold my-auto py-12 uppercase text-left">¿Cómo el cambio climático afecta a la salud?</h1>
        <p>Según la OMS El cambio climático afecta de muchas maneras la salud, como, por ejemplo, provocando muertes y enfermedades por fenómenos meteorológicos extremos cada vez más frecuentes, como olas de calor, tormentas e inundaciones, la alteración de los alimentarios, el aumento de las zoonosis (zoonosis es un grupo de enfermedades que los animales pueden trasmitirle a los seres humanos) y las enfermedades transmitidas por los alimentos, el agua y los vectores, y los problemas de salud mental. (2)</p>
        <br>
        <img src="../cambio2.png" alt="" class="w-full md:w-[70%] my-8 mx-auto">
        <h1 class="text-md md:text-2xl font-extrabold my-auto pt-12 uppercase text-left">¿Como podemos mitigar el calentamiento global?</h1>
        <br>
        <ul class="pl-8">
            <li><span class="font-bold text-red-900">1.</span>  Ahorrar energía en el hogar.</li>
            <li><span class="font-bold text-red-900">2.</span>  Desplazarse por bicicleta, caminata o trasporte público.</li>
            <li><span class="font-bold text-red-900">3.</span>  Reduzca, reutilice, repare y recicle.</li>
            <li><span class="font-bold text-red-900">4.</span>  Reforestación.</li>
            <li><span class="font-bold text-red-900">5.</span>  Ahorro de agua.</li>
        </ul>

        <div class="mt-24 opacity-60 w-full">
            <p class="italic">
                1. United Nations. ¿Qué es el cambio climático? | Naciones Unidas. [citado el 30 de octubre de 2022]; Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.un.org/es/climatechange/what-is-climate-change">https://www.un.org/es/climatechange/what-is-climate-change</a></span>
            </p>
            <br>
            <p class="italic">
                2. Figueroa R. Cambio climático y salud. Rev Peru Med Exp Salud Publica [Internet]. 2016 [citado el 30 de octubre de 2022];33(1):7. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.who.int/es/news-room/fact-sheets/detail/climate-change-and-health">https://www.who.int/es/news-room/fact-sheets/detail/climate-change-and-health</a></span>
            </p>
            <br>
            <p class="italic">
                3. United Nations. Actúa ahora | Naciones Unidas. [citado el 30 de octubre de 2022]; Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.un.org/es/actnow">https://www.un.org/es/actnow</a></span>
            </p>
        </div>
    </div>
    <Footer/>
</Layout>