---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="¿Qué es la célula? | AVA">
    <div class="text-justify bg-white px-8 md:px-24 xl:px-48 pb-32" id="page1">
        <div class="h-48 flex justify-center align-middle ">
            <p class="text-2xl font-bold my-auto opacity-40">Conoce más</p>
        </div>
        <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">¿Qué es la célula?</h1>
        <p>Las células son unidades estructurales y funcionales vivientes rodeadas por una membrana. Todas se forman a partir de células preexistentes por un proceso conocido como división celular, a través del cual una célula se divide en dos células idénticas. Cada tipo de célula cumple un papel específico para mantener la homeostasis y contribuye a las diversas funciones del organismo humano. [1].</p>
        <br>
        <p class="text-xl font-bold">Componentes:</p>
        <br>
        <ul>
            <li>•  MEMBRANA PLASMÁTICA: Bicapa lipídica semipermeable formada por fosfolípidos, proteínas y carbohidratos, esta representa el limite entre el medio extracelular e intracelular.</li>
            <li>•  Citosol: Es la porción liquida que rodea a los orgánulos.</li>
            <li>•  Citoplasma: Abarca todos los componentes que se encuentran entre la, membrana plasmática.</li>
            <li>•  Cilios y flagelos: Estos son proyecciones móviles de la superficie celular, los flagelos los podemos encontrar en los espermatozoides y cilios en las trompas de Falopio.</li>
            <li>•  Ribosoma: Sitio donde se sintetizan las proteínas.</li>
            <li>•  Retículo endoplásmico (RE): Red de membranas en forma de sacos aplanados hay 2 el retículo endoplasmático rugoso y el liso, la fusión del liso es síntesis de ácidos grasos y el rugoso sintetiza glucoproteínas y fosfolípidos.</li>
            <li>•  Aparato de Golgi: Este modifica, clasifica, envuelve y trasporta proteínas que recibe del retículo rugoso.</li>
            <li>•  Lisosoma: Digiere sustancias que entran en la célula y trasporta su producto hasta el citosol, función de autofagia, y responsable de la digestión celular.</li>
            <li>•  Peroxisoma: Oxida ácidos grasos, detoxifica sustancias nocivas como el peróxido de hidrogeno y radicales libre asociados a él.</li>
            <li>•  Mitocondria: Fosforilación oxidativa, genera la mayor parte del ATP a través de la respiración aeróbica [ 1].</li>
        </ul>
        <div class="mt-12">
            <a class="font-bold text-red-800" href="http://www.objetos.unam.mx/biologia/celulaEucariota/index.html">Observa  la célula desde una vista 3D</a>
        </div>

        <div class="mt-24 opacity-60 w-full">
            <p class="italic">
            1. Derrickson B, Tortora GJ, A02. Prometheus. Atlas de anatomia. Ed. Medica Panamericana; 2013.
            </p>
        </div>
    </div>
    <Footer/>
</Layout>