---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Frio en Colombia | AVA">
  <div class="w-screen h-72" style="background-image: url('https://images.unsplash.com/photo-1623167987983-722c1b1fe790?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80'); background-repeat: no-repeat; background-size: cover; background-position:bottom;">
  </div>
  <div class="px-0 md:px-56">
    <div class="h-[120vh]">
      <div class="grid-rows-1 absolute mx-auto h-[60rem] md:inset-5 md:top-[40%] w-screen xl:w-[80%] 2xl:w-[70%] px-0 lg:px-16">
        <div class="relative">
          <!-- Slide 1 -->
          <div class="text-justify bg-white px-8 md:px-24 xl:px-32 pb-32" id="page1">
            <div class="h-48 flex justify-center align-middle ">
              <p class="text-2xl font-bold my-auto opacity-40">Bajas temperaturas en Colombia</p>
            </div>
            <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">EL CAMBIO CLIMÁTICO Y LAS BAJAS TEMPERATURAS EN COLOMBIA</h1>
            <p>Como sabemos la temperatura hace parte importante de como el individuo vive y se desenvuelve, pero también hemos podido observar durante los años el cambio que ha tenido este, es decir la temperatura y como puede ser un factor para generar o propagar más enfermedades; con todo esto queremos hablar de como las temperaturas bajas afectan las condiciones de los colombiano en este caso, ya que el frio no es malo, pero los cambios que está sufriendo el planeta, generar alteraciones en este equilibrio, además la cantidad de enfermedades cardiovasculares y respiratorias que viven los colombianos. Según la Organización Mundial de la Salud (OMS), las enfermedades cardiovasculares son la principal causa de muerte en todo el mundo. Cifras de la Organización indican que en el año 2015 murieron por esta causa 17,7 millones de personas, lo cual representa un 31 por ciento de todas las muertes registradas. A su vez, proyectan que para el año 2030 cerca de 23,6 millones de personas morirán por alguna enfermedad cardiovascular, principalmente por cardiopatías y accidentes cerebrovasculares (1).</p>
            <br>
            <p>En Colombia, los datos más recientes del Departamento Administrativo Nacional de Estadística (DANE) revelan que de las 242.609 muertes registradas en 2019, 55.000 fueron causadas por enfermedades cardiovasculares.(2) Además Es importante mencionar los diagnósticos relacionados con enfermedades del sistema respiratorio, debido a la contingencia del coronavirus Covid -19, que dentro de los adultos mayores representaron el 5,2%, ubicándose en un séptimo lugar por orden de frecuencias, mientras que a nivel de la población general dichos diagnósticos se ubicaron en el sexto lugar con una participación del 7,9% dentro del total, y no solo relacionadas a Covid, sino también  bronquitis no especificada como aguda o crónica, bronquitis crónica simple y mucopurulenta, bronquitis crónica no especificada, enfisema, enfermedad pulmonar obstructiva crónica, estado asmático, y bronquiectasia (3).</p>
            <br>
            <img src="./cambio.png" alt="" class="w-full md:w-[70%] my-8 mx-auto">
            <p class="italic opacity-40">Cambio climático global y algunos efectos (observados y esperados) (Fuente: IPCC, 2014).</p>
            <br>
            <p>El cambio climático está generando cambios abruptos en todo el mundo, pero también en Colombia, afectando no solo el ganado, población, tierra y entre otros. Claramente afectado la salud, al haber en zonas montañosas menos cantidad de árboles, se pierde la producción de O2 el cual es de vital importancia para procesos metabólicos y sobre todo la respiración, el oxígeno es vida y lo estamos perdiendo; La tala de árboles en Colombia tiene, por lo general, el propósito de introducir ganado, lo cual añade más GEI, pues los eructos de las vacas son altamente contaminantes porque el proceso de fermentación en sus estómagos genera metano, gas que es 25 veces más potente en términos de calentamiento global que el dióxido de carbono CO2. Según la FAO, el ganado es el responsable de 2/3 de las emisiones globales de efecto invernadero y del 78% de las emisiones de metano (4); Sabiendo bien que al haber más producción de CO2 el cual en nuestro organismo es de carácter acido, generara acidosis respiratorias, afectando y generando asi más morbilidades respiratorias.</p>
            <br>
            <p>Las altas temperaturas que estamos observado, también han generado incendios en bosques, y entre otros recursos naturales los cuales están también afectado de manera respiratoria a la población colombiana y no solo los incendios, sino también las industrias; según un estudio publicado por la Alcaldía mayor de Bogotá afirmando que ‘’el aumento de enfermedades respiratorias por aire contaminado por partículas suspendidas, de polvo e incendios forestales’’ teniendo un riesgo denominado medio, pero el cual puede verse a medida del tiempo; y no solo esto asi como muchas partes de Colombia ahora están más elevadas de temperaturas asi mismo hay otras donde las lluvias son imparables, generando en zonas de frio más resguardo en lugares cerrados para aguardarse de la lluvia y de las bajas temperaturas que genera esta, permitiendo asi la propagación de virus, como rinovirus o entre otros de una manera mucho más fácil, ya que las baja temperaturas son un factor claro y clave para la fácil propagación de virus (5), cuando nos exponemos a bajas temperaturas nuestro organismo por medio del hipotálamo trata de mantener  en temperatura estable (proceso denominado termorregulación) para mantener un equilibrio homeostático; algunos de estos cambios por la temperatura baja son como la viscosidad de la sangre, aumento de la presión arterial y el ritmo cardiaco, entre otros. Todo esto añade un estrés al cuerpo que puede provocar graves problemas de salud en las personas más vulnerables. (6)</p>

            <iframe class="mt-16 mx-auto max-w-full" width="560" height="315" src="https://www.youtube.com/embed/d-b03pFg7UA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <div class="grid grid-rows-2 mt-16">
                <h1 class="sm:text-lg md:text-1xl font-extrabold my-auto uppercase text-left">Mira los PDF:</h1>
                <div class="flex flex-col">
                    <a href="http://www.ideam.gov.co/documents/10182/511760/Indice+de+Confort+Termico+Periodo+2011-2040.pdf/37b6bddd-a089-4478-9a40-a05a42f93c0a?version=1.0" class="border-4 px-4 py-2 border-black font-bold">Temperatura Media Período 1976-2005</a>
                    <a href="http://www.ideam.gov.co/documents/10182/511760/Temperatura+Media+%28%C2%B0C%29+para+el+Periodo+1976-2005.pdf/7b3f897b-b010-4a18-bc34-985f6b4d592d?version=1.0" class="border-4 px-4 py-2 border-black font-bold mt-4">Índice de Confort Térmico   Período 2011-2040</a>
                </div>
            </div>

            <div class="mt-24 opacity-60 w-full">
              <p class="italic">
                1. Dic 9. La OMS revela las principales causas de muerte y discapacidad en el mundo: 2000-2019 [Internet]. Paho.org. [citado el 23 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.paho.org/es/noticias/9-12-2020-oms-revela-principales-causas-muerte-discapacidad-mundo-2000-2019">https://www.paho.org/es/noticias/9-12-2020-oms-revela-principales-causas-muerte-discapacidad-mundo-2000-2019</a></span>
              </p>
              <br>
              <p class="italic">
                2. Semana. ¿Cómo está el corazón de los colombianos? [Internet]. Semana.com Últimas Noticias de Colombia y el Mundo. 2020 [citado el 23 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.semana.com/nacion/articulo/como-esta-el-corazon-de-los-colombianos/202037/">https://www.semana.com/nacion/articulo/como-esta-el-corazon-de-los-colombianos/202037/</a></span>
              </p>
              <br>
              <p class="italic">
                3. Diciembre BDC. Boletines Poblacionales 1 : Personas Adultas Mayores de 60 años Oficina de Promoción Social Ministerio de Salud y Protección Social I-2020 [Internet]. Gov.co. [citado el 23 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/PS/280920-boletines-poblacionales-adulto-mayorI-2020.pdf">https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/PS/280920-boletines-poblacionales-adulto-mayorI-2020.pdf</a></span>
              </p>
              <br>
              <p class="italic">
                4. Colombia frente al calentamiento global - Universidad del Rosario [Internet]. Edu.co. [citado el 23 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.urosario.edu.co/Investigacion/UCD/Articulos/Colombia-frente-al-calentamiento-global/">https://www.urosario.edu.co/Investigacion/UCD/Articulos/Colombia-frente-al-calentamiento-global/</a></span>
              </p>
              <br>
              <p class="italic">
                5. Cambio Climático - IDIGER [Internet]. Gov.co. [citado el 23 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.idiger.gov.co/rcc">https://www.idiger.gov.co/rcc</a></span>
              </p>
              <br>
              <p class="italic">
                6. ¿Qué efectos tiene el frío sobre nuestra salud? - Blog [Internet]. ISGlobal. [citado el 23 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.isglobal.org/healthisglobal/-/custom-blog-portlet/-que-efectos-tiene-el-frio-sobre-nuestra-salud-/5734329/0">https://www.isglobal.org/healthisglobal/-/custom-blog-portlet/-que-efectos-tiene-el-frio-sobre-nuestra-salud-/5734329/0</a></span>
              </p>
              <br>
              <p class="italic">
                7.  Ministerio de Ambiente Y Desarrollo Sostenible. Colombia CSHAPCM. ¿QUÉ ES EL CAMBIO CLIMÁTICO Y CÓMO AFECTA A COLOMBIA? [Internet]. Colombia: Fundacion accion solidaria; 13/oct/2016. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.youtube.com/watch?v=d-b03pFg7UA&ab_channel=Fundaci%C3%B3nAcci%C3%B3nSocialSolidaria">https://www.youtube.com/watch?v=d-b03pFg7UA&ab_channel=Fundaci%C3%B3nAcci%C3%B3nSocialSolidaria</a></span>
              </p>
              <br>
              <p class="italic">
                8. IDEAM. TEMPERATURA MEDIA (°C) PARA EL PERIODO 1976-2005 [Internet]. IDEAM. 24AD [cited 20AD Oct]. Disponible en: <span><a class="text-red-900 font-bold"  href="http://www.ideam.gov.co/galeria-de-mapas?p_p_id=110_INSTANCE_4VnjNLZDi78B&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_110_INSTANCE_4VnjNLZDi78B_struts_action=%2Fdocument_library_display%2Fview_file_entry&_110_INSTANCE_4VnjNLZDi78B_redirect=http%3A%2F%2Fwww.ideam.gov.co%2Fgaleria-de-mapas%2F-%2Fdocument_library_display%2F4VnjNLZDi78B%2Fview%2F511760%3F_110_INSTANCE_4VnjNLZDi78B_advancedSearch%3Dfalse%26_110_INSTANCE_4VnjNLZDi78B_keywords%3D%26_110_INSTANCE_4VnjNLZDi78B_cur2%3D2%26_110_INSTANCE_4VnjNLZDi78B_topLink%3Dhome%26p_r_p_564233524_resetCur%3Dfalse%26_110_INSTANCE_4VnjNLZDi78B_delta2%3D20%26_110_INSTANCE_4VnjNLZDi78B_andOperator%3Dtrue&_110_INSTANCE_4VnjNLZDi78B_fileEntryId=98900954">See details</a></span>
              </p>
              <br>
              <p class="italic">
                9. IDEAM. Índice de Confort Térmico   Período 2011-2040 [Internet]. IDEAM. 24AD [cited 20AD Oct]. Disponible en: <span><a class="text-red-900 font-bold"  href="http://www.ideam.gov.co/galeria-de-mapas?p_p_id=110_INSTANCE_4VnjNLZDi78B&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_110_INSTANCE_4VnjNLZDi78B_struts_action=%2Fdocument_library_display%2Fview_file_entry&_110_INSTANCE_4VnjNLZDi78B_redirect=http%3A%2F%2Fwww.ideam.gov.co%2Fgaleria-de-mapas%2F-%2Fdocument_library_display%2F4VnjNLZDi78B%2Fview%2F511760%3F_110_INSTANCE_4VnjNLZDi78B_advancedSearch%3Dfalse%26_110_INSTANCE_4VnjNLZDi78B_keywords%3D%26_110_INSTANCE_4VnjNLZDi78B_cur2%3D2%26_110_INSTANCE_4VnjNLZDi78B_topLink%3Dhome%26p_r_p_564233524_resetCur%3Dfalse%26_110_INSTANCE_4VnjNLZDi78B_delta2%3D20%26_110_INSTANCE_4VnjNLZDi78B_andOperator%3Dtrue&_110_INSTANCE_4VnjNLZDi78B_fileEntryId=98900863">See details</a></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>