---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Estructura y Función del corazón | AVA">
    <div class="text-justify bg-white px-8 md:px-24 xl:px-48 pb-32" id="page1">
        <div class="h-48 flex justify-center align-middle ">
            <p class="text-2xl font-bold my-auto opacity-40">Conoce mas</p>
        </div>
        <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">Estructura y Función del corazón</h1>
        <p>Formado, células denominadas cardiomiocitos o también conocidas como célula muscular cardiaca, esto más internamente. Por otro lado, está formado por dos bombas separadas:  corazón derecho que bombea sangre hacia los pulmones y un corazón izquierdo que bombea sangre a través de la circulación sistémica que aporta flujo sanguíneo a los demás órganos y tejidos del cuerpo.</p>
        <br>
        <p>Además, estos corazones es una bomba bicameral pulsátil, esto quiere decir que están formados por una aurícula en la parte superior y un ventrículo en la inferior; las aurículas es una bomba débil de cebado del ventrículo, las cuales colaboran trasportando sangre hacia el ventrículo correspondiente. Los ventrículos aportarán la principal fuerza de bombeo para impulsar la sangre, sea hacia pulmones por el ventrículo derecho o hacia la circulación sistemática por el ventrículo izquierdo (1).</p>
        <img src="../../public/heart2.png" alt="" class="w-full md:w-[30%] my-8 mx-auto">

        <h1 class="text-md md:text-2xl font-extrabold my-auto pt-12 uppercase text-left">Enfermedades cardiovasculares</h1>
        <br>
        <p class="leading-loose">
            La cardiopatía coronaria: enfermedad de los vasos sanguíneos que irrigan el músculo cardiaco;
            <br>
            Las enfermedades cerebrovasculares: enfermedades de los vasos sanguíneos que irrigan el cerebro;
            <br>
            Las arteriopatías periféricas: enfermedades de los vasos sanguíneos que irrigan los miembros superiores e inferiores;
            <br>
            La cardiopatía reumática: lesiones del músculo cardiaco y de las válvulas cardíacas debidas a la fiebre reumática, una enfermedad causada por bacterias denominadas estreptococos;
            <br>
            Las cardiopatías congénitas: malformaciones del corazón presentes desde el nacimiento; y las trombosis venosas profundas y embolias pulmonares: coágulos de sangre (trombos) en las venas de las piernas, que pueden desprenderse (émbolos) y alojarse en los vasos del corazón y los pulmones.</p>
        <br>

        <div class="mt-24 opacity-60 w-full">
            <p class="italic">
            1. Hall JE. Guyton y Hall. Tratado de Fisiologia Medica + Studentconsult. 12a ed. Elsevier; 2016.</p>
            <br>
            <p class="italic">
            2. Imagen 1 Estrutura del corazón Hall JE. Guyton y Hall. Tratado de Fisiologia Medica + Studentconsult. 12a ed. Elsevier; 2016.
            </p>
            <br>
            <p class="italic">
                3. Enfermedades cardiovasculares [Internet]. www.who.int. Available from: <span><a class="text-red-900 font-bold"  href="https://www.who.int/es/news-room/fact-sheets/detail/cardiovascular-diseases-(cvds)">https://www.who.int/es/news-room/fact-sheets/detail/cardiovascular-diseases-(cvds)</a></span>
            </p>
        </div>
    </div>
    <Footer/>
</Layout>