---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="¿Cómo cuidarte en las bajas temperaturas? | AVA">
    <div class="text-justify bg-white px-8 md:px-24 xl:px-48 pb-32" id="page1">
        <div class="h-48 flex justify-center align-middle ">
            <p class="text-2xl font-bold my-auto opacity-40">Conoce mas</p>
        </div>
        <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">¿Cómo cuidarte en las bajas temperaturas?</h1>
        <p>Las épocas de frió son muy duras y difíciles para los adultos mayores. Ya que las enfermedades no transmisibles como EPOC o enfermedades cardiovasculares, en estas épocas de frió generan que estas sean mas sensibles a empeorar, por ello siempre a los adultos que sufren de estas los mandan a mudarse a lugares más cálidos, pero claro esto no es muy fácil; por esto queremos darte unos consejos de que hacer para cuidar tu salud en estas épocas de muy bajas temperaturas. (1)</p>
        <br>
        <img src="../../public/cuidad.png" alt="" class="w-full md:w-[40%] my-8 mx-auto">
        <div class="ml-24">
            <ul>
                <li>1.    Tratar de mantener tu hogar entre 20º/22º C</li>
                <li>2.    Abrigarte bien la nariz y la boca para no respirar el aire frió, también tus pies y manos para regular la tempra corporal.</li>
                <li>3.    Trata de por lo menos hacer 10 a 15 m de actividad física, para así mantener tu cuerpo a una temperatura adec claramente teniendo cuidado de tu condición y preferiblemente en el hogar.</li>
                <li>4.    Comer alimentos ricos en vitaminas A y C.</li>
                <li>5.    Hazte tus chequeo con el médico, para que observe como esta tu presión y tus pulmones.</li>
                <li>6.    Tomar agua para estar hidratado.</li>
                <li>7.    Huso de deshumificadores para la humedad y evitar así el moho, ácaros y entre otras cosas las cuales pueden causritación respiratoria.</li>
                <li>8.    Vacúnate contra la influencia ayudara a tu sistema inmune para asi evitar contagios. (2)</li>
            </ul>
        </div>

        <div class="mt-24 opacity-60 w-full">
            <p class="italic">
            1. Concepción PD. Tercera edad y el deporte en invierno [Internet]. Diario Concepción. [citado el 30 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.diarioconcepcion.cl/deportes/2018/05/14/tercera-edad-y-el-deporte-en-invierno.html">https://www.diarioconcepcion.cl/deportes/2018/05/14/tercera-edad-y-el-deporte-en-invierno.html</a></span>
            </p>
            <br>
            <p class="italic">
            2. Vivir con Enfermedad Pulmonar Obstructiva Crónica (EPOC) [Internet]. Clínic Barcelona. [citado el 30 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.clinicbarcelona.org/asistencia/enfermedades/enfermedad-pulmonar-obstructiva-cronica-epoc/vivir-con-la-enfermedad">https://www.clinicbarcelona.org/asistencia/enfermedades/enfermedad-pulmonar-obstructiva-cronica-epoc/vivir-con-la-enfermedad</a></span>
            </p>
            <br>
            <p class="italic">
            3.  IMAGEN  Instituto Nacional de las Personas Adultas Mayores. Cuidemos a nuestros adultos mayores en esta época de frío [Internet]. gob.mx. [citado el 30 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.gob.mx/inapam/es/articulos/cuidemos-a-nuestros-adultos-mayores-en-esta-epoca-de-frio?idiom=es">https://www.gob.mx/inapam/es/articulos/cuidemos-a-nuestros-adultos-mayores-en-esta-epoca-de-frio?idiom=es</a></span>
            </p>
            <br>
                
            
        </div>
    </div>
    <Footer/>
</Layout>