---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Glosario | AVA">
    <div class="text-start bg-white px-8 md:px-24 xl:px-48 pt-32 pb-16">
        <h2 class="font-bold text-5xl">Glosario</h2>
    </div>
    <div class="bg-white px-8 md:px-24 xl:px-48 pb-32" id="page1">
        <div class="mb-4 border-b border-gray-200">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center justify-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                <li class="mr-2" role="presentation">
                    <button class="inline-block p-4 rounded-t-lg border-b-2" id="english-tab" data-tabs-target="#english" type="button" role="tab" aria-controls="english" aria-selected="false">English</button>
                </li>
                <li class="mr-2" role="presentation">
                    <button class="inline-block p-4 rounded-t-lg border-b-2" id="spanish-tab" data-tabs-target="#spanish" type="button" role="tab" aria-controls="spanish" aria-selected="false">Español</button>
                </li>
            </ul>
        </div>
        <div id="myTabContent">
            <div class="hidden p-4" id="english" role="tabpanel" aria-labelledby="english-tab">
                <p class="font-light pb-3">Navigate from A-Z here.</p>
                <ul class="flex flex-wrap gap-6 text-2md">
                    <li>
                        <a href="#a" class="hover:text-red-700 hover:underline hover:font-bold">A</a>
                    </li>
                    <li>
                        <a href="#b" class="hover:text-red-700 hover:underline hover:font-bold">B</a>
                    </li>
                    <li>
                        <a href="#c" class="hover:text-red-700 hover:underline hover:font-bold">C</a>
                    </li>
                    <li>
                        <a href="#d" class="hover:text-red-700 hover:underline hover:font-bold">D</a>
                    </li>
                    <li>
                        <a href="#e" class="hover:text-red-700 hover:underline hover:font-bold">E</a>
                    </li>
                    <li>
                        <a href="#f" class="hover:text-red-700 hover:underline hover:font-bold">F</a>
                    </li>
                    <li>
                        <a href="#g" class="hover:text-red-700 hover:underline hover:font-bold">G</a>
                    </li>
                    <li>
                        <a href="#h" class="hover:text-red-700 hover:underline hover:font-bold">H</a>
                    </li>
                    <li>
                        <a href="#i" class="hover:text-red-700 hover:underline hover:font-bold">I</a>
                    </li>
                    <li>
                        <a href="#j" class="hover:text-red-700 hover:underline hover:font-bold">J</a>
                    </li>
                    <li>
                        <a href="#k" class="hover:text-red-700 hover:underline hover:font-bold">K</a>
                    </li>
                    <li>
                        <a href="#l" class="hover:text-red-700 hover:underline hover:font-bold">L</a>
                    </li>
                    <li>
                        <a href="#m" class="hover:text-red-700 hover:underline hover:font-bold">M</a>
                    </li>
                    <li>
                        <a href="#n" class="hover:text-red-700 hover:underline hover:font-bold">N</a>
                    </li>
                    <li>
                        <a href="#ñ" class="hover:text-red-700 hover:underline hover:font-bold">Ñ</a>
                    </li>
                    <li>
                        <a href="#o" class="hover:text-red-700 hover:underline hover:font-bold">O</a>
                    </li>
                    <li>
                        <a href="#p" class="hover:text-red-700 hover:underline hover:font-bold">P</a>
                    </li>
                    <li>
                        <a href="#q" class="hover:text-red-700 hover:underline hover:font-bold">Q</a>
                    </li>
                    <li>
                        <a href="#r" class="hover:text-red-700 hover:underline hover:font-bold">R</a>
                    </li>
                    <li>
                        <a href="#s" class="hover:text-red-700 hover:underline hover:font-bold">S</a>
                    </li>
                    <li>
                        <a href="#t" class="hover:text-red-700 hover:underline hover:font-bold">T</a>
                    </li>
                    <li>
                        <a href="#u" class="hover:text-red-700 hover:underline hover:font-bold">U</a>
                    </li>
                    <li>
                        <a href="#v" class="hover:text-red-700 hover:underline hover:font-bold">V</a>
                    </li>
                    <li>
                        <a href="#w" class="hover:text-red-700 hover:underline hover:font-bold">W</a>
                    </li>
                    <li>
                        <a href="#x" class="hover:text-red-700 hover:underline hover:font-bold">X</a>
                    </li>
                    <li>
                        <a href="#y" class="hover:text-red-700 hover:underline hover:font-bold">Y</a>
                    </li>
                    <li>
                        <a href="#z" class="hover:text-red-700 hover:underline hover:font-bold">Z</a>
                    </li>
                </ul>
                <div class="mt-24">
                    <ul id="a">
                        <li class="pb-6"><h1 class="text-5xl font-extrabold">A</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Afferent pathways</h2>
                            <p class="font-light">Pathway by which sensitive information is sent to the control center</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Acid</h2>
                            <p class="font-light">Substance that emits hydrogen ions and that in the  union with the bases form salts</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Acid-base balance</h2>
                            <p class="font-light">Acid and base balance maintained by the body to maintain a constant pH</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Asthma</h2>
                            <p class="font-light">Condition in which the airways narrow and swell which can produce more mucus</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">ATP/adenosine triphosphate</h2>
                            <p class="font-light">Is a nucleotide that is responsible for obtaining cellular energy</p>
                        </li>
                    </ul>
                    <ul id="b">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">B</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Bacteria/s</h2>
                            <p class="font-light">Single-celled microorganism without a defined nucleus </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Base</h2>
                            <p class="font-light">Substance that has the ability to adopt hydrogen ions</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Blood pressure</h2>
                            <p class="font-light">Is the pressure that blood  exerts against the walls of the arteries</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Body temperature</h2>
                            <p class="font-light">Level of body temperature that in normal state should be 37°C (98.6°)</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Bronchitis</h2>
                            <p class="font-light">Inflammation of the lining of the bronchi through which air circulates in and out of the lungs</p>
                        </li>
                    </ul>
                    <ul id="c">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">C</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Cardiovascular</h2>
                            <p class="font-light">System composed of the heart and blood vessels.</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Catabolism</h2>
                            <p class="font-light">Set of metabolic processes of degradation of substances to obtain simpler ones</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Catalyze</h2>
                            <p class="font-light">Produce a catalysis in a chemical reaction </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Chronic noncommunicable diseases</h2>
                            <p class="font-light">A group of diseases that are not caused by infections result in long-term health consequences. Diabetes, hypertension, cancer…</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">CNS (central nervous system)</h2>
                            <p class="font-light">Part of the nervous system made up of the brain and spinal cord </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">CO2 (carbon dioxide)</h2>
                            <p class="font-light">Gas heavier than air, formed by the combination of carbon atom and two oxygen atoms</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Communicable diseases</h2>
                            <p class="font-light">Are diseases that are transmitted from person to person or from animals to people. Whooping cough, measles, sexually transmitted diseases</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Comorbidity/s</h2>
                            <p class="font-light">Coexistence of two or more diseases in the same individual, usually related  </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Contraction</h2>
                            <p class="font-light">In physiology it is the action of   either a muscle or an organ either a muscle or an organ</p>
                        </li>
                    </ul>
                    <ul id="d">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">D</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="e">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">E</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Efferent pathways</h2>
                            <p class="font-light">They are signals of information </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Electrons</h2>
                            <p class="font-light">Elementary particle with negative electric charge </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Emphysema</h2>
                            <p class="font-light">Lung disease that causes shortness of breath due to destruction and dilation of the alveoli </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Enzymes</h2>
                            <p class="font-light">Protein that catalyzes a specific biochemical reaction of metabolism</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Extracellular</h2>
                            <p class="font-light">Which is located or occurs outside the cell </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Extracorporeal</h2>
                            <p class="font-light">Medical procedure that is performed outside the body </p>
                        </li>
                    </ul>
                    <ul id="f">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">F</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Fatty acids</h2>
                            <p class="font-light">Biomolecules of lipid nature</p>
                        </li>
                    </ul>
                    <ul id="g">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">G</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="h">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">H</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Heart disease</h2>
                            <p class="font-light">Progressive disease of the myocardium or heart muscle, due to narrowing of the small blood vessels that supply blood and oxygen to the heart </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Heart rate</h2>
                            <p class="font-light">It is in number of contractions of the heart or pulsations per minute, in an adult in normal condition and at rest it ranges between 60 to 100 beats per minute</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Homeostasis</h2>
                            <p class="font-light">Set of self-regulating phenomena, which lead to the maintenance of constancy in the composition and properties of the internal environment of an organism </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Hypothalamus</h2>
                            <p class="font-light">Region of the brain located at the base of the brain, attached to the pituitary gland by a nerve stalk and in which important centers of vegetative life reside </p>
                        </li>
                    </ul>
                    <ul id="i">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">I</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Infection</h2>
                            <p class="font-light">Invasion and multiplication of germs in the body</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Intracellular</h2>
                            <p class="font-light">Which is located or occurs within the cell </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Ion/s</h2>
                            <p class="font-light">Atom or grouping of atoms that by loss or gain of one more electrons acquiring electric charge</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Hypothalamus</h2>
                            <p class="font-light">Region of the brain located at the base of the brain, attached to the pituitary gland by a nerve stalk and in which important centers of vegetative life reside </p>
                        </li>
                    </ul>
                    <ul id="j">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">J</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="k">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">K</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Krebs cycle</h2>
                            <p class="font-light">Is a metabolic pathway that is part of the cellular respiration of aerobic cells </p>
                        </li>
                    </ul>
                    <ul id="l">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">L</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Leukocytes/white blood cells</h2>
                            <p class="font-light">These are the only blood cells found throughout the body</p>
                        </li>
                    </ul>
                    <ul id="m">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">M</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Metabolic reactions</h2>
                            <p class="font-light">Chemical reaction that converts food into energy </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Molecule</h2>
                            <p class="font-light">A minimum unit of a substance that retains its chemical properties and may consist of the same or different atoms </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Myocardium</h2>
                            <p class="font-light">Muscle tissue of the heart responsible for pumping blood through the circulatory system through its contraction </p>
                        </li>
                    </ul>
                    <ul id="n">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">N</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="ñ">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">Ñ</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="o">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">O</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="p">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">P</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Plasma membrane</h2>
                            <p class="font-light">Lipid bilayer that covers the cell and delimits it by separating the intracellular material from the extracellular </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Product</h2>
                            <p class="font-light">Result of the binding of the substrate with an enzyme </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Protein/s</h2>
                            <p class="font-light">Constituent substance of living matter, formed by one or more chains of amino acids </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Protons</h2>
                            <p class="font-light">Particle with positive electric charge, which is part of the nucleus of the atom </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Ph</h2>
                            <p class="font-light">Index expressing the degree of acidity or alkalinity of a solution</p>
                        </li>
                    </ul>
                    <ul id="q">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">Q</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="r">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">R</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Respiratory acidosis</h2>
                            <p class="font-light">Condition that happens when the  lungs are unable to remove CO2 from the body</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Respiratory rate</h2>
                            <p class="font-light">Is the number of breaths per minute in adults  their normal standards range between 15-20 breaths per minute</p>
                        </li>
                    </ul>
                    <ul id="s">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">S</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">SNP (peripheral nervous system)</h2>
                            <p class="font-light">Part of the nervous system that communicates the central system with peripheral structures </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Stroke</h2>
                            <p class="font-light">Occurs by interrupting blood circulation anywhere in the brain and with it the supply of oxygen </p>
                        </li>
                    </ul>
                    <ul id="t">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">T</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Thermoreceptors</h2>
                            <p class="font-light">Group of nerve endings located in the skin with the aim of capturing  and responding to cold and/or heat stimuli</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Thermoregulation</h2>
                            <p class="font-light">Regulation of body temperature </p>
                        </li>
                    </ul>
                    <ul id="u">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">U</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="v">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">V</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Vasoconstriction</h2>
                            <p class="font-light">Is the narrowing of blood vessels</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Ventricular fibrillation</h2>
                            <p class="font-light">Increased heart rate that begins in the lower chambers of the heart</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Vessel dilation</h2>
                            <p class="font-light">Increased internal diameter of blood vessels</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Viruses</h2>
                            <p class="font-light">Organisms of very simple structure, composed of proteins and nucleic acids and can reproduce itself</p>
                        </li>
                    </ul>
                    <ul id="w">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">W</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="x">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">X</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="y">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">Y</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="z">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">Z</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hidden p-4 rounded-lg" id="spanish" role="tabpanel" aria-labelledby="spanish-tab">
                <p class="font-light pb-3">Navega desde la A a la Z aqui.</p>
                <ul class="flex flex-wrap gap-6 text-2md">
                    <li>
                        <a href="#a-es" class="hover:text-red-700 hover:underline hover:font-bold">A</a>
                    </li>
                    <li>
                        <a href="#b-es" class="hover:text-red-700 hover:underline hover:font-bold">B</a>
                    </li>
                    <li>
                        <a href="#c-es" class="hover:text-red-700 hover:underline hover:font-bold">C</a>
                    </li>
                    <li>
                        <a href="#d-es" class="hover:text-red-700 hover:underline hover:font-bold">D</a>
                    </li>
                    <li>
                        <a href="#e-es" class="hover:text-red-700 hover:underline hover:font-bold">E</a>
                    </li>
                    <li>
                        <a href="#f-es" class="hover:text-red-700 hover:underline hover:font-bold">F</a>
                    </li>
                    <li>
                        <a href="#g-es" class="hover:text-red-700 hover:underline hover:font-bold">G</a>
                    </li>
                    <li>
                        <a href="#h-es" class="hover:text-red-700 hover:underline hover:font-bold">H</a>
                    </li>
                    <li>
                        <a href="#i-es" class="hover:text-red-700 hover:underline hover:font-bold">I</a>
                    </li>
                    <li>
                        <a href="#j-es" class="hover:text-red-700 hover:underline hover:font-bold">J</a>
                    </li>
                    <li>
                        <a href="#k-es" class="hover:text-red-700 hover:underline hover:font-bold">K</a>
                    </li>
                    <li>
                        <a href="#l-es" class="hover:text-red-700 hover:underline hover:font-bold">L</a>
                    </li>
                    <li>
                        <a href="#m-es" class="hover:text-red-700 hover:underline hover:font-bold">M</a>
                    </li>
                    <li>
                        <a href="#n-es" class="hover:text-red-700 hover:underline hover:font-bold">N</a>
                    </li>
                    <li>
                        <a href="#ñ-es" class="hover:text-red-700 hover:underline hover:font-bold">Ñ</a>
                    </li>
                    <li>
                        <a href="#o-es" class="hover:text-red-700 hover:underline hover:font-bold">O</a>
                    </li>
                    <li>
                        <a href="#p-es" class="hover:text-red-700 hover:underline hover:font-bold">P</a>
                    </li>
                    <li>
                        <a href="#q-es" class="hover:text-red-700 hover:underline hover:font-bold">Q</a>
                    </li>
                    <li>
                        <a href="#r-es" class="hover:text-red-700 hover:underline hover:font-bold">R</a>
                    </li>
                    <li>
                        <a href="#s-es" class="hover:text-red-700 hover:underline hover:font-bold">S</a>
                    </li>
                    <li>
                        <a href="#t-es" class="hover:text-red-700 hover:underline hover:font-bold">T</a>
                    </li>
                    <li>
                        <a href="#u-es" class="hover:text-red-700 hover:underline hover:font-bold">U</a>
                    </li>
                    <li>
                        <a href="#v-es" class="hover:text-red-700 hover:underline hover:font-bold">V</a>
                    </li>
                    <li>
                        <a href="#w-es" class="hover:text-red-700 hover:underline hover:font-bold">W</a>
                    </li>
                    <li>
                        <a href="#x-es" class="hover:text-red-700 hover:underline hover:font-bold">X</a>
                    </li>
                    <li>
                        <a href="#y-es" class="hover:text-red-700 hover:underline hover:font-bold">Y</a>
                    </li>
                    <li>
                        <a href="#z-es" class="hover:text-red-700 hover:underline hover:font-bold">Z</a>
                    </li>
                </ul>
                <div class="mt-24">
                    <ul id="a-es">
                        <li class="pb-6"><h1 class="text-5xl font-extrabold">A</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Accidentes cerebrovasculares ACV</h2>
                            <p class="font-light">Se produce por la interrupción de la circulación de la sangre en cualquier parte del cerebro y con ello el suministro de oxigeno </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Acido</h2>
                            <p class="font-light">Sustancia que sede iones de hidrogeno y que en la unión con las bases forman sales </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Ácidos grasos</h2>
                            <p class="font-light">Biomoléculas de naturaleza lipídica </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Acidosis respiratoria</h2>
                            <p class="font-light">Afección que sucede cuando los pulmones no pueden eliminar el CO2 del cuerpo</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Asma</h2>
                            <p class="font-light">Afección en la cual las vías respiratorias se estrechan e hinchan lo que puede producir mayor mucosidad </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">ATP/adenosín trifosfato</h2>
                            <p class="font-light">Es un nucleótido que se encarga de la obtención de energía celular </p>
                        </li>
                    </ul>
                    <ul id="b-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">B</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Bacteria/s</h2>
                            <p class="font-light">Microorganismo unicelular sin núcleo definido </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Base</h2>
                            <p class="font-light">Sustancia que tiene la capacidad de adoptar iones de hidrogeno</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Bronquitis</h2>
                            <p class="font-light">Inflamación del revestimiento de los bronquios por los cuales circula el aire adentro y fuera de los pulmones </p>
                        </li>
                    </ul>
                    <ul id="c-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">C</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Cardiopatía</h2>
                            <p class="font-light">Enfermedad progresiva del miocardio o musculo cardiaco, se debe al estrechamiento de los pequeños vasos sanguíneos que suministran sangre y oxígeno al corazón </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Cardiovascular</h2>
                            <p class="font-light">Sistema compuesto por el corazón y los vasos sanguíneos.</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Catabolismo</h2>
                            <p class="font-light">Conjunto de procesos metabólicos de degradación de sustancias para obtener otras mas simples </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Catalizan</h2>
                            <p class="font-light">Producir una catálisis en una reacción química </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Células eucariotas</h2>
                            <p class="font-light">Son la unidad básica de los organismos animales, se diferencia por tener un núcleo definido.</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Ciclo de Krebs</h2>
                            <p class="font-light">Es una ruta metabólica que forma parte de la respiración celular de las células aerobias </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">CO2 (dióxido de carbono)</h2>
                            <p class="font-light">Gas ms pesado que el aire, formado por la combinación de átomo de carbono y dos de oxígenos </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Comorbilidad/es</h2>
                            <p class="font-light">Coexistencia de dos o mas enfermedades en un mismo individuo, generalmente relacionadas  </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Contracción</h2>
                            <p class="font-light">En la fisiología es la acción de contraer o contraerse ya sea un musculo o un órgano </p>
                        </li>
                    </ul>
                    <ul id="d-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">D</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="e-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">E</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Electrones</h2>
                            <p class="font-light">Partícula elemental con carga eléctrica negativa </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Enfermedades crónicas no transmisibles</h2>
                            <p class="font-light">Grupo de enfermedades que no son causadas por infecciones dan como resultado consecuencias de salud a largo plazo. Diabetes, hipertensión, cáncer…</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Enfermedades transmisibles</h2>
                            <p class="font-light">Son enfermedades que son transmitidas de persona a persona o de animales a personas. Tos ferina, sarampión, enfermedades de transmisión sexual </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Enfisema</h2>
                            <p class="font-light">Enfermedad pulmonar que provoca dificultad para respirar debido a la destrucción y la dilatación de los alveolos </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Enzimas</h2>
                            <p class="font-light">Proteína que cataliza una reacción bioquímica especifica del metabolismo </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Equilibrio acido-base</h2>
                            <p class="font-light">Balance de ácido y base que mantiene el organismo para mantener un pH constante </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Extracelular</h2>
                            <p class="font-light">Que esta situado u ocurre fuera de la célula </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Extracorpóreo</h2>
                            <p class="font-light">Procedimiento medico que se realiza fuera del cuerpo </p>
                        </li>
                    </ul>
                    <ul id="f-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">F</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Fibrilación ventricular</h2>
                            <p class="font-light">Aumento del ritmo cardiaco que comienza en las cavidades inferiores del corazón </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Frecuencia cardiaca</h2>
                            <p class="font-light">Es en numero de contracciones del corazón o pulsaciones por minuto, en un adulto en condición normal y en reposo oscila entre 60 a 100 latidos por minuto </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Frecuencia respiratoria</h2>
                            <p class="font-light">Es la cantidad de respiraciones por minuto en los adultos sus estándares normales oscilan entre 15-20 respiraciones por minuto </p>
                        </li>
                    </ul>
                    <ul id="g-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">G</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="h-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">H</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Hipotálamo</h2>
                            <p class="font-light">Región del encéfalo situada en la base cerebral, unida a la hipófisis por un tallo nervioso y en las que residen centros importantes de la vida vegetativa </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Hipotermia</h2>
                            <p class="font-light">Descenso de la temperatura del cuerpo por debajo de lo normal </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Homeostasis</h2>
                            <p class="font-light">Conjunto de fenómenos de autorregulación, que conducen al mantenimiento de la constancia en la composición y propiedades del medio interno de un organismo </p>
                        </li>
                    </ul>
                    <ul id="i-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">I</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Infección</h2>
                            <p class="font-light">Invasión y multiplicación de gérmenes en el cuerpo</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Intracelular</h2>
                            <p class="font-light">Que esta situado u ocurre dentro de la célula </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Ion/es</h2>
                            <p class="font-light">Átomo o agrupación de átomos que por perdida o ganancia de uno mas electrones adquiriendo carga eléctrica </p>
                        </li>
                    </ul>
                    <ul id="j-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">J</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="k-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">K</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="l-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">L</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Leucocitos/glóbulos blancos</h2>
                            <p class="font-light">Son las únicas células sanguíneas que se encuentran en todo el organismo </p>
                        </li>
                    </ul>
                    <ul id="m-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">M</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Membrana plasmática</h2>
                            <p class="font-light">Bicapa lipídica que recubre la célula y la delimita separando el material intracelular del extracelular </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Miocardio</h2>
                            <p class="font-light">Tejido muscular del corazón encargado de bombear la sangre por el sistema circulatorio mediante su contracción </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Molécula</h2>
                            <p class="font-light">Unidad mínima de una sustancia que conserva sus propiedades químicas y puede estar formada por átomos iguales o diferentes </p>
                        </li>
                    </ul>
                    <ul id="n-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">N</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="ñ-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">Ñ</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="o-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">O</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="p-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">P</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Presión arterial</h2>
                            <p class="font-light">Es la presión que ejerce la sangre contra las paredes de las arterias </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Producto</h2>
                            <p class="font-light">Resultado de la unión del sustrato con una enzima </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Proteína/s</h2>
                            <p class="font-light">Sustancia constitutiva de la materia viva, formada por una o varias cadenas de aminoácidos </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Protones</h2>
                            <p class="font-light">Partícula con carga eléctrica positiva, que forma parte del núcleo del átomo </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Ph</h2>
                            <p class="font-light">Índice que expresa el grado de acidez o alcalinidad de una disolución </p>
                        </li>
                    </ul>
                    <ul id="q-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">Q</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="r-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">R</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Reacciones metabólicas</h2>
                            <p class="font-light">Reacción química que convierte los alimentos en energía x</p>
                        </li>
                    </ul>
                    <ul id="s-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">S</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">SNC (sistema nervioso central)</h2>
                            <p class="font-light">Parte del sistema nerviosos constituido por el encéfalo y la medula espinal </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">SNP (sistema nervioso periférico)</h2>
                            <p class="font-light">Parte del sistema nerviosos que comunica al sistema central con las estructuras periféricas </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Sustrato</h2>
                            <p class="font-light">Sustancia sobre la cual actúa una enzima </p>
                        </li>
                    </ul>
                    <ul id="t-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">T</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Temperatura corporal</h2>
                            <p class="font-light">Nivel de temperatura del cuerpo que en estado normal debe de ser de 37°C (98.6°)</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Termorreceptores</h2>
                            <p class="font-light">Grupo de terminaciones nerviosas ubicas en la piel con el objetivo de captar y responder a estímulos de frio y/o calor </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Termorregulación</h2>
                            <p class="font-light">Regulación de la temperatura corporal </p>
                        </li>
                    </ul>
                    <ul id="u-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">U</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="v-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">V</h1></li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Vasoconstricción</h2>
                            <p class="font-light">Es el estrechamiento de los vasos sanguíneos </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Vaso dilatación</h2>
                            <p class="font-light">Incremento del diámetro interno de los vasos sanguíneos </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Vías aferentes</h2>
                            <p class="font-light">Vía por la cual se envía información sensitiva hacia el centro de control</p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Vías eferentes</h2>
                            <p class="font-light">Son señales de información </p>
                        </li>
                        <li class="py-6">
                            <h2 class="font-bold text-2xl">Virus</h2>
                            <p class="font-light">Organismos de estructura muy sencilla, compuesto de proteínas y ácidos nucleicos y es capaz de reproducirse solo</p>
                        </li>
                    </ul>
                    <ul id="w-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">W</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="x-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">X</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="y-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">Y</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                    <ul id="z-es">
                        <li class="pt-12 pb-6"><h1 class="text-5xl font-extrabold">Z</h1></li>
                        <li class="py-6">
                            <p class="font-light text-3xl">...</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <Footer/>
</Layout>