---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Inicio | AVA">
  <div>
    <div id="default-carousel" class="relative" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 py-96 overflow-hidden md:h-96">
            <!-- Item 1 -->
        <div class="hidden duration-1400 ease-in-out" data-carousel-item>
          <img
            src="../../public/docs.png"
            class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 brightness-50"
            alt="..."
          />
          <div
            class="relative flex justify-center items-center mx-auto flex-col text-white mt-32"
          >
            <div class="w-auto px-24 mx-auto text-center">
              <p class="font-bold text-2xl uppercase">#SabiasQue</p>
            </div>
            <div class="w-auto px-24 mx-auto mb-48 mt-40 text-center">
              <p class="md:text-5xl lg:text-7xl text-4xl pb-12 font-bold">
                Tecnica de Hipotermia
              </p>
              <a
                href="/sabias"
                class="transition ease-in-out duration-300 bg-red-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800"
                >Conoce mas
              </a>
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="hidden duration-1400 ease-in-out" data-carousel-item>
          <img
            src="../../public/vasos.png"
            class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 brightness-50"
            alt="..."
          />
          <div
            class="relative flex justify-center items-center mx-auto flex-col text-white mt-32"
          >
            <div class="w-auto px-24 mx-auto text-center">
              <p class="font-bold text-2xl uppercase">#SabiasQue</p>
            </div>
            <div class="w-auto px-24 mx-auto mb-48 mt-40 text-center">
              <p class="md:text-5xl lg:text-7xl text-4xl pb-12 font-bold">
                Constricción de los vasos sanguíneos, por las bajas temperaturas
              </p>
              <a
                href="/sabias"
                class="transition ease-in-out duration-300 bg-red-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800"
                >Conoce mas
              </a>
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="hidden duration-1400 ease-in-out" data-carousel-item>
          <img
            src="../../public/acido-base.png"
            class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 brightness-50"
            alt="..."
          />
          <div
            class="relative flex justify-center items-center mx-auto flex-col text-white mt-32"
          >
            <div class="w-auto px-24 mx-auto text-center">
              <p class="font-bold text-2xl uppercase">#SabiasQue</p>
            </div>
            <div class="w-auto px-24 mx-auto mb-48 mt-40 text-center">
              <p class="md:text-5xl lg:text-7xl text-4xl pb-12 font-bold">
                Alteración en el equilibrio ácido-base
              </p>
              <a
                href="/sabias"
                class="transition ease-in-out duration-300 bg-red-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800"
                >Conoce mas
              </a>
            </div>
          </div>
        </div>
        
        <!-- Item 4 -->
        <div class="hidden duration-1400 ease-in-out" data-carousel-item>
          <img
            src="../../public/afeccion.png"
            class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 brightness-50"
            alt="..."
          />
          <div
            class="relative flex justify-center items-center mx-auto flex-col text-white mt-32"
          >
            <div class="w-auto px-24 mx-auto text-center">
              <p class="font-bold text-2xl uppercase">#SabiasQue</p>
            </div>
            <div class="w-auto px-24 mx-auto mb-48 mt-40 text-center">
              <p class="md:text-5xl lg:text-7xl text-4xl pb-12 font-bold">
                Afección en la actividad enzimática
              </p>
              <a
                href="/sabias"
                class="transition ease-in-out duration-300 bg-red-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800"
                >Conoce mas
              </a>
            </div>
          </div>
        </div>

        <!-- Item 5 -->
        <div class="hidden duration-1400 ease-in-out" data-carousel-item>
          <img
            src="../../public/membrana.png"
            class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 brightness-50"
            alt="..."
          />
          <div
            class="relative flex justify-center items-center mx-auto flex-col text-white mt-32"
          >
            <div class="w-auto px-24 mx-auto text-center">
              <p class="font-bold text-2xl uppercase">#SabiasQue</p>
            </div>
            <div class="w-auto px-24 mx-auto mb-48 mt-40 text-center">
              <p class="md:text-5xl lg:text-7xl text-4xl pb-12 font-bold">
                Alteración en la fluidez de la membrana plasmática
              </p>
              <a
                href="/sabias"
                class="transition ease-in-out duration-300 bg-red-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800"
                >Conoce mas
              </a>
            </div>
          </div>
        </div>

        <!-- Item 6 -->
        <div class="hidden duration-1400 ease-in-out" data-carousel-item>
          <img
            src="../../public/virus.png"
            class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 brightness-50"
            alt="..."
          />
          <div
            class="relative flex justify-center items-center mx-auto flex-col text-white mt-32"
          >
            <div class="w-auto px-24 mx-auto text-center">
              <p class="font-bold text-2xl uppercase">#SabiasQue</p>
            </div>
            <div class="w-auto px-24 mx-auto mb-48 mt-40 text-center">
              <p class="md:text-5xl lg:text-7xl text-4xl pb-12 font-bold">
                Los virus se propagan más fácil en temperaturas bajas
              </p>
              <a
                href="/sabias"
                class="transition ease-in-out duration-300 bg-red-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800"
                >Conoce mas
              </a>
            </div>
          </div>
        </div>

        <!-- Item 7 -->
        <div class="hidden duration-1400 ease-in-out" data-carousel-item>
          <img
            src="../../public/regulador.png"
            class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 brightness-50"
            alt="..."
          />
          <div
            class="relative flex justify-center items-center mx-auto flex-col text-white mt-32"
          >
            <div class="w-auto px-24 mx-auto text-center">
              <p class="font-bold text-2xl uppercase">#SabiasQue</p>
            </div>
            <div class="w-auto px-24 mx-auto mb-48 mt-40 text-center">
              <p class="md:text-5xl lg:text-7xl text-4xl pb-12 font-bold">
                El hipotálamo como regulador térmico
              </p>
              <a
                href="/sabias"
                class="transition ease-in-out duration-300 bg-red-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800"
                >Conoce mas
              </a>
            </div>
          </div>
        </div>

        <!-- Item 8 -->
        <div class="hidden duration-1400 ease-in-out" data-carousel-item>
          <img
            src="../../public/piloereccion.png"
            class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 brightness-50"
            alt="..."
          />
          <div
            class="relative flex justify-center items-center mx-auto flex-col text-white mt-32"
          >
            <div class="w-auto px-24 mx-auto text-center">
              <p class="font-bold text-2xl uppercase">#SabiasQue</p>
            </div>
            <div class="w-auto px-24 mx-auto mb-48 mt-40 text-center">
              <p class="md:text-5xl lg:text-7xl text-4xl pb-12 font-bold">
                Piloerección
              </p>
              <a
                href="/sabias"
                class="transition ease-in-out duration-300 bg-red-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800"
                >Conoce mas
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 9 -->
      <div class="hidden duration-1400 ease-in-out" data-carousel-item>
        <img
          src="../../public/SAL.png"
          class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 brightness-50"
          alt="..."
        />
        <div
          class="relative flex justify-center items-center mx-auto flex-col text-white mt-32"
        >
          <div class="w-auto px-24 mx-auto text-center">
            <p class="font-bold text-2xl uppercase">#SabiasQue</p>
          </div>
          <div class="w-auto px-24 mx-auto mb-48 mt-40 text-center">
            <p class="md:text-5xl lg:text-7xl text-4xl pb-12 font-bold">
              La importancia de la sal (NaCI) en la regulación de la presión arterial
            </p>
            <a
              href="/sabias"
              class="transition ease-in-out duration-300 bg-red-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800"
              >Conoce mas
            </a>
          </div>
        </div>
      </div>

      <!-- Slider controls -->
      <button
        type="button"
        class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"></path>
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"></path>
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </div>

  <div class="px-12 pt-24 xl:px-44 xl:pt-32" id="conoce-mas">
    <h3 class="text-3xl pb-12 font-bold">Conoce <span class="text-red-700">más</span></h3>
    <div class="flex flex-wrap gap-12">

      <div class="max-w-md bg-white rounded-lg border border-gray-200 shadow-md">
        <a href="/acido-base">
            <img class="rounded-t-lg" src="../../public/acido2.png" alt="">
        </a>
        <div class="p-5">
            <a href="/acido-base">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">¿Qué es el equilibrio ácido- base?</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">El equilibrio ácido-base es el balance que mantiene el organismo entre ácidos y bases con el objetivo de mantener un pH constante.</p>
            <a href="/acido-base" class="inline-flex items-center py-2 px-6 text-sm font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-600">
                Mas información
                <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>

      <div class="max-w-md bg-white rounded-lg border border-gray-200 shadow-md">
        <a href="/cuidados">
            <img class="rounded-t-lg" src="../../public/cuidados.png" alt="">
        </a>
        <div class="p-5">
            <a href="/cuidados">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">¿Cómo cuidarte en las bajas temperaturas?</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Las épocas de frió son muy duras y difíciles para los adultos mayores. Ya que las enfermedades....</p>
            <a href="/cuidados" class="inline-flex items-center py-2 px-6 text-sm font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-600">
                Mas información
                <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>

      <div class="max-w-md bg-white rounded-lg border border-gray-200 shadow-md">
        <a href="/ph">
            <img class="rounded-t-lg" src="../../public/ph.png" alt="">
        </a>
        <div class="p-5">
            <a href="/ph">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">¿Qué es pH?</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Se trata de un valor utilizado con él objetivó de medir....</p>
            <a href="/ph" class="inline-flex items-center py-2 px-6 text-sm font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-600">
                Mas informacion
                <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>

      <div class="max-w-md bg-white rounded-lg border border-gray-200 shadow-md">
        <a href="/celula">
            <img class="rounded-t-lg" src="../../public/celula.png" alt="">
        </a>
        <div class="p-5">
            <a href="/celula">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">¿Qué es la célula?</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Las células son unidades estructurales y funcionales vivientes rodeadas por una membrana....</p>
            <a href="/celula" class="inline-flex items-center py-2 px-6 text-sm font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-600">
                Mas informacion
                <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>

      <div class="max-w-md bg-white rounded-lg border border-gray-200 shadow-md">
        <a href="/corazon">
            <img class="rounded-t-lg" src="../../public/heart.png" alt="">
        </a>
        <div class="p-5">
            <a href="/corazon">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Estructura y Función del corazón</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">El corazón bombea sangre a todas las partes del cuerpo. La sangre suministra....</p>
            <a href="/corazon" class="inline-flex items-center py-2 px-6 text-sm font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-600">
                Mas informacion
                <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>

      <div class="max-w-md bg-white rounded-lg border border-gray-200 shadow-md">
        <a href="/potencial-corazon">
            <img class="rounded-t-lg" src="../../public/heart4.png" alt="">
        </a>
        <div class="p-5">
            <a href="/potencial-corazon">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Potencial de acción del corazón</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Conoce las 4 fases....</p>
            <a href="/potencial-corazon" class="inline-flex items-center py-2 px-6 text-sm font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-600">
                Mas informacion
                <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>

      <div class="max-w-md bg-white rounded-lg border border-gray-200 shadow-md">
        <a href="/sistema-cardio-respiratorio">
            <img class="rounded-t-lg" src="../../public/cardio1.png" alt="">
        </a>
        <div class="p-5">
            <a href="/sistema-cardio-respiratorio">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">¿Qué es el sistema cardio respiratorio?</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">El Sistema Cardio-respiratorio es aquel que está formado por dos aparatos bien diferenciados: el Sistema Circulatorio, el cual se encarga de....</p>
            <a href="/sistema-cardio-respiratorio" class="inline-flex items-center py-2 px-6 text-sm font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-600">
                Mas informacion
                <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>

      <div class="max-w-md bg-white rounded-lg border border-gray-200 shadow-md">
        <a href="/termogenico">
            <img class="rounded-t-lg" src="../../public/termo.png" alt="">
        </a>
        <div class="p-5">
            <a href="/termogenico">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Termogénico de los alimentos y sin escalofríos</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">El efecto termógeno de los alimentos....</p>
            <a href="/termogenico" class="inline-flex items-center py-2 px-6 text-sm font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-600">
                Mas informacion
                <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>

      <div class="max-w-md bg-white rounded-lg border border-gray-200 shadow-md">
        <a href="/cambio-climatico">
            <img class="rounded-t-lg" src="../../public/cambio-climatico.png" alt="">
        </a>
        <div class="p-5">
            <a href="/cambio-climatico">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Cambio climático y salud</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">El cambio climático son los efectos a largo plazo de las temperaturas y los patrones climáticos. Estos cambios suelen ser....</p>
            <a href="/cambio-climatico" class="inline-flex items-center py-2 px-6 text-sm font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-600">
                Mas informacion
                <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>

      <div class="max-w-md bg-white rounded-lg border border-gray-200 shadow-md">
        <a href="/sistema-respiratorio">
            <img class="rounded-t-lg" src="../../public/sistema-respiratorio.png" alt="">
        </a>
        <div class="p-5">
            <a href="/sistema-respiratorio">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Sistema respiratorio</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">El sistema respiratorio es un conjunto anatómico, en el cual participan....</p>
            <a href="/sistema-respiratorio" class="inline-flex items-center py-2 px-6 text-sm font-medium text-center text-white bg-blue-900 rounded-lg hover:bg-blue-600">
                Mas informacion
                <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>
    </div>
  </div>

  <div class="px-12 py-24 xl:px-44 xl:pt-32" id="explora">
    <h3 class="text-3xl pb-12 font-bold">Explora y <span class="text-red-700">aprende</span></h3>
    <div class="flex gap-16 overflow-x-auto">
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xu0oijkhV-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wzryR4PKGpk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9fxm85Fy4sQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/F4TIx05aBi8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/B7GvvHJQKiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JaISgsXU_a4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uwZhytn71SA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9YKnMa4Bu2U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/h_0An181E5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XPVuEZlscf4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XPVuEZlscf4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vO_7bA3fxQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jD7S0Kb28ps" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rQu8DjCdLVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/I_LYJXrjtVI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7eZszeH1gCc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      
    </div>
    
  </div>

	<!-- <div class="text-center p-44">
		<div>
		  <h2
			class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white"
		  >
			¿Que es el sistema cardiorespiratorio?
		  </h2>

		  <p
			class="mb-6 text-md font-normal text-gray-900 sm:px-16 xl:px-48 dark:text-gray-900"
		  >
			El Sistema Cardio-respiratorio es aquel que esta formado por dos
			aparatos bien diferenciados: el Sistema Circulatorio, el cual se
			encarga de hacer circular la sangre por todo el organismo, y el
			Aparato respiratorio, cuya función principal es introducir el
			oxígeno (O2) para que sea distribuido a todo el organismo
			conjuntamente con las sustancias nutritivas y eliminar el
			dióxido de carbono (CO2)
		  </p>

		  <p
			class="mb-6 text-md font-normal text-gray-900 sm:px-16 xl:px-48 dark:text-gray-900"
		  >
			Ambos aparatos juntos cumplen un funcionamiento vital el cual
			es; aportar a las células el oxígeno y los nutrientes
			necesarios, y eliminar los elementos de desecho junto con el
			dióxido de carbono (CO2).
		  </p>
    </div>

		<div class="pt-16">
		  <h2
			class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white"
		  >
			Enferemedades cardiorespiratorias relacionadas a las bajas
			temperaturas
		  </h2>

		  <p
			class="mb-6 text-md font-normal text-gray-900 sm:px-16 xl:px-48 dark:text-gray-900"
		  >
			Here at Flowbite we focus on markets where technology,
			innovation, and capital can unlock long-term value and drive
			economic growth.
		  </p>
		</div>
  </div> -->

  <Footer/>

  <style>
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 60ch;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      line-height: 1.6;
      margin: 1rem 0;
      border: 1px solid rgba(var(--accent), 25%);
      background-color: white;
      padding: 1rem;
      border-radius: 0.4rem;
    }
    .instructions code {
      font-size: 0.875em;
      font-weight: bold;
      background: rgba(var(--accent), 12%);
      color: rgb(var(--accent));
      border-radius: 4px;
      padding: 0.3em 0.45em;
    }
    .instructions strong {
      color: rgb(var(--accent));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
  </style>
</Layout>
