---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Latinoamerica y Europa | AVA">
  <div class="w-screen h-72" style="background-image: url('https://images.unsplash.com/photo-1624324378932-68e20f332982?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); background-repeat: no-repeat; background-size: cover; background-position:center;">
  </div>
  <div class="px-0 md:px-56">
    <div class="h-[120vh]">
      <div class="grid-rows-1 absolute mx-auto h-[60rem] md:inset-5 md:top-[40%] w-screen xl:w-[80%] 2xl:w-[70%] px-0 lg:px-16">
        <div class="relative">
          <!-- Slide 1 -->
          <div class="text-justify bg-white px-8 md:px-24 xl:px-32 pb-32" id="page1">
            <div class="h-48 flex justify-center align-middle ">
              <p class="text-2xl font-bold my-auto opacity-40">Bajas temperaturas en Latinoamerica y Europa</p>
            </div>
            <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">AMERICA LATINA Y EL MUNDO RESPECTO AL CAMBIO CLIMATICO Y BAJAS TEMPERATURAS</h1>
            <p>Numerosos estudios han relacionado la exposición a temperaturas frías con un aumento de la mortalidad. En una investigación realizada en 13 países, los autores concluyen que un 7% de la mortalidad se debe al frío. En el caso de España, país incluido en este estudio, el frío es responsable del 5,5% de las muertes registradas. Las causas de muerte más relacionadas con el frío son las enfermedades respiratorias y cardiovasculares, pero también la diabetes o las enfermedades mentales. Los episodios de frío extremo son también responsables del aumento en las hospitalizaciones, sobre todo por causas respiratorias y cardiovasculares.</p>
            <br>
            <p>Pero no todo mundo padece los efectos nocivos del frío de la misma manera. La gente mayor es uno de los colectivos más vulnerables, tanto por sus condiciones físicas como por el hecho de que frecuentemente padecen de otras enfermedades. También es habitual que el consumo de medicamentos en estas personas altere los mecanismos que regulan la temperatura del cuerpo. Un estudio realizado en Barcelona detectó un aumento de 25% en la mortalidad de personas mayores de 65 años en los días en que se registran temperaturas bajas además el nivel del mar está aumentando, los glaciares se están fundiendo y los regímenes de lluvias están cambiando. Los fenómenos meteorológicos extremos son cada vez más intensos y frecuentes.</p>
            <br>
            <img src="https://media.discordapp.net/attachments/577998542149386253/1033916359148576928/unknown.png?width=799&height=671" alt="" class="w-full md:w-[70%] my-8 mx-auto">
            <!-- <p class="italic opacity-40">Cambio climático global y algunos efectos (observados y esperados) (Fuente: IPCC, 2014).</p> -->
            <br>
            <p>La OPS: en américa latina y el caribe es constante el aumento de las enfermedades crónicas no transmisibles por diversos factores como la disparidad socioeconómica de la región, los constantes malos hábitos en el estilo de vida, junto con el envejecimiento la globalización , han llevado a que las enfermedades cardiovasculares sean una de las principales causas de mortalidad y discapacidad en esta región, por diversos estudios de esta organización se ve una clara prevalencia de la mortalidad en países pobres de la región, también deja ver que de las principales enfermedades cardiacas con mayor mortalidad son <span class="font-bold">Cardiopatía isquémica: 73,6 muertes por 100.000 habitantes</span></p>
            <br>
            <ul class="list-disc pl-24">
                <li>Accidente cerebrovascular: 32.3</li>
                <li>Otras enfermedades circulatorias: 14,8</li>
                <li>Enfermedad cardíaca hipertensiva: 10.6</li>
                <li>Miocardiopatía, miocarditis, endocarditis: 5.1</li>
                <li>Cardiopatía reumática: 0.7</li>
            </ul>
            <br>
            <p>OPS. La carga de las enfermedades cardiovasculares en la Región de las Américas, 2000-2019. Portal de Datos de NMH. Organización Panamericana de la Salud; 2021.</p>
            <br>
            <p>Según la OMS las enfermedades cardiovasculares son la principal causa de muerte en el mundo y cerca del 90% de estas muertes se dan por accidentes cardio vasculares y cardiopatías crónicas. en Europa las enfermedades cardiovasculares son las causantes de aproximadamente la mitad de las muertes en Europa.</p>
            <br>
            <p>según el servicio meteorológico nacional de argentina por diversos estudios en estados unidos y Europa han encontrado que ahi una relación inversa entre las muertes por causas naturales y las temperaturas bajas, pero un incremento en la mortalidad de las enfermedades respiratorias, cardiovasculares y cerebrovasculares. <span><a class="text-red-900 font-bold" href="http://200.16.116.28/handle/20.500.12160/1839">Repositorio Institucional</a></span></p>
            <br>
            <p>Según la OMS las enfermedades cardiovasculares son la principal causa de muerte en el mundo y cerca del 90% de estas muertes se dan por accidentes cardio vasculares y cardiopatías crónicas. en Europa las enfermedades cardiovasculares son las causantes de aproximadamente la mitad de las muertes en Europa.</p>
            <br>
            <p>El Servicio Meteorológico Nacional alemán informó de que, la semana pasada, en dos días cayeron precipitaciones equivalentes a dos meses sobre suelos que ya estaban cerca de la saturación en las regiones más afectadas del país, así como en Bélgica, Países Bajos y Luxemburgo. Suiza y Austria también sufrieron graves inundaciones. 

                Según ese Servicio, entre el 14 y el 15 de julio cayeron entre 100 y 150 mm de precipitaciones en 24 horas. La estación meteorológica de Wipperfuerth-Gardeweg registró 162 mm, seguida de Colonia-Stammheim con 160 mm, Kall-Sistig con 152 mm y Wuppertal-Buchenhofen con 151 mm.  
                
                En otra parte del planeta, algunas zonas de la provincia central china de Henan recibieron entre el 17 y el 21 de julio más precipitaciones que la media anual. La estación nacional de observación meteorológica de Zhengzhou alcanzó los 720 mm, frente a su media anual de 641 mm. 
                
                Zhengzhou, la capital de Henan, recibió una cantidad de lluvia equivalente a la mitad de su precipitación anual en seis horas. en ese tiempo, cayeron 382 mm de agua y de las 16:00 a las 17:00 horas del 20 de julio, la precipitación en Zhengzhou superó los 200 mm. 
                
                Más de 600 estaciones registraron lluvias superiores a los 250mm. La precipitación máxima fue de 728mm. El Servicio Meteorológico de Henan puso en marcha la respuesta de emergencia de más alto nivel para hacer frente a las inundaciones. 
                
                En Europa, las 1672 catástrofes registradas entre 1970 y 2019 provocaron159.438 muertes y 476.500 millones de dólares en daños económicos. Aunque las inundaciones y las tormentas fueron las catástrofes más frecuentes, las temperaturas extremas dejaron el mayor número de víctimas mortales con 148.109 vidas perdidas en 50 años. 
                
                Las dos olas de calor extremas de 2003 y 2010 fueron las más mortales, con 127.946 víctimas. La ola de calor de 2003 fue responsable de la mitad de las muertes en Europa, con un total de 72.210 muertes en los 15 países afectados, según uno de los capítulos del próximo Atlas. 
                
                El Atlas de la OMM sobre mortalidad y pérdidas económicas debidas a fenómenos meteorológicos, climáticos e hidrológicos extremos (1970-2019) se publicará antes de la <span><a class="text-red-900 font-bold" href="https://www.un.org/es/ga/about/index.shtml">Asamblea General</a></span> de las Naciones Unidas de septiembre. 
                
                El Atlas forma parte de una serie de iniciativas de la Organización Meteorológica Mundial destinadas a proporcionar a los responsables de la toma de decisiones información con base científica sobre los fenómenos meteorológicos y climáticos extremos, y el estado del clima mundial. </p>

            <h2 class="text-xl md:text-2xl font-extrabold my-auto pt-12 uppercase text-left">Latinoamerica frente al cambio climatico</h2>

            <iframe class="mt-16 mx-auto max-w-full" width="560" height="315" src="https://www.youtube.com/embed/xUxShiRies4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h2 class="text-xl md:text-2xl font-extrabold my-auto pt-12 uppercase text-left">Europa frente al cambio climatico</h2>

            <iframe class="mt-16 mx-auto max-w-full" width="560" height="315" src="https://www.youtube.com/embed/rfb-u2D-Y30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <!-- <div class="grid grid-rows-2 mt-16">
                <h1 class="sm:text-lg md:text-1xl font-extrabold my-auto uppercase text-left">Mira los PDF:</h1>
                <div class="flex flex-col">
                    <a href="http://www.ideam.gov.co/documents/10182/511760/Indice+de+Confort+Termico+Periodo+2011-2040.pdf/37b6bddd-a089-4478-9a40-a05a42f93c0a?version=1.0" class="border-4 px-4 py-2 border-black font-bold">Temperatura Media Período 1976-2005</a>
                    <a href="http://www.ideam.gov.co/documents/10182/511760/Temperatura+Media+%28%C2%B0C%29+para+el+Periodo+1976-2005.pdf/7b3f897b-b010-4a18-bc34-985f6b4d592d?version=1.0" class="border-4 px-4 py-2 border-black font-bold mt-4">Índice de Confort Térmico   Período 2011-2040</a>
                </div>
            </div> -->

            <div class="mt-24 opacity-60 w-full">
              <p class="italic">
                1. Dic 9. La OMS revela las principales causas de muerte y discapacidad en el mundo: 2000-2019 [Internet]. Paho.org. [citado el 23 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.paho.org/es/noticias/9-12-2020-oms-revela-principales-causas-muerte-discapacidad-mundo-2000-2019">https://www.paho.org/es/noticias/9-12-2020-oms-revela-principales-causas-muerte-discapacidad-mundo-2000-2019</a></span>
              </p>
              <br>
              <p class="italic">
                2. Semana. ¿Cómo está el corazón de los colombianos? [Internet]. Semana.com Últimas Noticias de Colombia y el Mundo. 2020 [citado el 23 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.semana.com/nacion/articulo/como-esta-el-corazon-de-los-colombianos/202037/">https://www.semana.com/nacion/articulo/como-esta-el-corazon-de-los-colombianos/202037/</a></span>
              </p>
              <br>
              <p class="italic">
                3. Diciembre BDC. Boletines Poblacionales 1 : Personas Adultas Mayores de 60 años Oficina de Promoción Social Ministerio de Salud y Protección Social I-2020 [Internet]. Gov.co. [citado el 23 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/PS/280920-boletines-poblacionales-adulto-mayorI-2020.pdf">https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/PS/280920-boletines-poblacionales-adulto-mayorI-2020.pdf</a></span>
              </p>
              <br>
              <p class="italic">
                4. Colombia frente al calentamiento global - Universidad del Rosario [Internet]. Edu.co. [citado el 23 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.urosario.edu.co/Investigacion/UCD/Articulos/Colombia-frente-al-calentamiento-global/">https://www.urosario.edu.co/Investigacion/UCD/Articulos/Colombia-frente-al-calentamiento-global/</a></span>
              </p>
              <br>
              <p class="italic">
                5. Cambio Climático - IDIGER [Internet]. Gov.co. [citado el 23 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.idiger.gov.co/rcc">https://www.idiger.gov.co/rcc</a></span>
              </p>
              <br>
              <p class="italic">
                6. ¿Qué efectos tiene el frío sobre nuestra salud? - Blog [Internet]. ISGlobal. [citado el 23 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.isglobal.org/healthisglobal/-/custom-blog-portlet/-que-efectos-tiene-el-frio-sobre-nuestra-salud-/5734329/0">https://www.isglobal.org/healthisglobal/-/custom-blog-portlet/-que-efectos-tiene-el-frio-sobre-nuestra-salud-/5734329/0</a></span>
              </p>
              <br>
              <p class="italic">
                7.  Ministerio de Ambiente Y Desarrollo Sostenible. Colombia CSHAPCM. ¿QUÉ ES EL CAMBIO CLIMÁTICO Y CÓMO AFECTA A COLOMBIA? [Internet]. Colombia: Fundacion accion solidaria; 13/oct/2016. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.youtube.com/watch?v=d-b03pFg7UA&ab_channel=Fundaci%C3%B3nAcci%C3%B3nSocialSolidaria">https://www.youtube.com/watch?v=d-b03pFg7UA&ab_channel=Fundaci%C3%B3nAcci%C3%B3nSocialSolidaria</a></span>
              </p>
              <br>
              <p class="italic">
                8. IDEAM. TEMPERATURA MEDIA (°C) PARA EL PERIODO 1976-2005 [Internet]. IDEAM. 24AD [cited 20AD Oct]. Disponible en: <span><a class="text-red-900 font-bold"  href="http://www.ideam.gov.co/galeria-de-mapas?p_p_id=110_INSTANCE_4VnjNLZDi78B&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_110_INSTANCE_4VnjNLZDi78B_struts_action=%2Fdocument_library_display%2Fview_file_entry&_110_INSTANCE_4VnjNLZDi78B_redirect=http%3A%2F%2Fwww.ideam.gov.co%2Fgaleria-de-mapas%2F-%2Fdocument_library_display%2F4VnjNLZDi78B%2Fview%2F511760%3F_110_INSTANCE_4VnjNLZDi78B_advancedSearch%3Dfalse%26_110_INSTANCE_4VnjNLZDi78B_keywords%3D%26_110_INSTANCE_4VnjNLZDi78B_cur2%3D2%26_110_INSTANCE_4VnjNLZDi78B_topLink%3Dhome%26p_r_p_564233524_resetCur%3Dfalse%26_110_INSTANCE_4VnjNLZDi78B_delta2%3D20%26_110_INSTANCE_4VnjNLZDi78B_andOperator%3Dtrue&_110_INSTANCE_4VnjNLZDi78B_fileEntryId=98900954">See details</a></span>
              </p>
              <br>
              <p class="italic">
                9. IDEAM. Índice de Confort Térmico   Período 2011-2040 [Internet]. IDEAM. 24AD [cited 20AD Oct]. Disponible en: <span><a class="text-red-900 font-bold"  href="http://www.ideam.gov.co/galeria-de-mapas?p_p_id=110_INSTANCE_4VnjNLZDi78B&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_110_INSTANCE_4VnjNLZDi78B_struts_action=%2Fdocument_library_display%2Fview_file_entry&_110_INSTANCE_4VnjNLZDi78B_redirect=http%3A%2F%2Fwww.ideam.gov.co%2Fgaleria-de-mapas%2F-%2Fdocument_library_display%2F4VnjNLZDi78B%2Fview%2F511760%3F_110_INSTANCE_4VnjNLZDi78B_advancedSearch%3Dfalse%26_110_INSTANCE_4VnjNLZDi78B_keywords%3D%26_110_INSTANCE_4VnjNLZDi78B_cur2%3D2%26_110_INSTANCE_4VnjNLZDi78B_topLink%3Dhome%26p_r_p_564233524_resetCur%3Dfalse%26_110_INSTANCE_4VnjNLZDi78B_delta2%3D20%26_110_INSTANCE_4VnjNLZDi78B_andOperator%3Dtrue&_110_INSTANCE_4VnjNLZDi78B_fileEntryId=98900863">See details</a></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>