---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Glosario | AVA">
    <div class="text-start bg-white px-8 md:px-24 xl:px-48 pt-32 pb-16">
        <h2 class="font-bold text-5xl">Sobre nosotras</h2>
        <p class="pt-6">Conoce mas sobre el equipo AVA.</p>
    </div>
    <div class="flex flex-wrap md:flex-nowrap gap-16 bg-white px-8 md:px-24 xl:px-64 pt-32 pb-16">
        <div class="rounded-full" style="max-width: 300px; width:500px; height:500px; max-height: 300px; background-image: url('../../public/alexandra.png'); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
        <div class="my-auto">
            <h1 class="font-bold text-2xl pb-3">Alexandra Gonzalez Escobar</h1>
            <p>Soy estudiante de primer semestre de enfermería en la universidad de la Sabana, tengo 22 años y quiero llegar a hacer alguien que pueda ayudar a la gente por medio del conocimiento, dar un servicio inigualable y dar muchas sonrisas.</p>
        </div>
    </div>
    <div class="flex flex-wrap md:flex-nowrap gap-16 bg-white px-8 md:px-24 xl:px-64 pt-32 pb-16">
        <div class="rounded-full" style="max-width: 300px; width:500px; height:500px; max-height: 300px; background-image: url('../../public/yuli.png'); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
        <div class="my-auto">
            <h1 class="font-bold text-2xl pb-3">Yulieth Vanessa López Gutiérrez </h1>
            <p>Fisioterapia primer semestre y su objetivo a futuro es especializarse en rehabilitación pediátrica.</p>
        </div>
    </div>
    <div class="flex flex-wrap md:flex-nowrap gap-16 bg-white px-8 md:px-24 xl:px-64 pt-32 pb-48">
        <div class="rounded-full" style="max-width: 300px; width:500px; height:500px; max-height: 300px; background-image: url('../../public/a.png'); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
        <div class="my-auto">
            <h1 class="font-bold text-2xl pb-3">Ana María Toloza Camacho</h1>
            <p>Soy estudiante de fisioterapia de primer semestre con el objetivo a futuro de convertirme en especialista en terapia manual ortopédica.</p>
        </div>
    </div>
    <Footer/>
</Layout>