---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="¿Qué es pH? | AVA">
    <div class="text-justify bg-white px-8 md:px-24 xl:px-48 pb-32" id="page1">
        <div class="h-48 flex justify-center align-middle ">
            <p class="text-2xl font-bold my-auto opacity-40">Conoce mas</p>
        </div>
        <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">¿Qué es pH?</h1>
        <p>Se trata de un valor utilizado con él objetivó de medir la alcalinidad (base) o acidez de una determinada sustancia, indicando el porcentaje de hidrógeno que encontramos en ella, midiendo la cantidad de iones ácidos (H+) [1].</p>
        <br>
        <img src="../ph2.png" alt="" class="w-full md:w-[70%] my-8 mx-auto">
        <br>
        <p>Te dejamos una imagen para que sepas cuál es el nivel de pH que deberías tener, la idea es siempre tenerlo en neutro, ni muy ácido, ni muy alcalino, ya que puede alterar tu organismo y causar hasta la muerte en niveles muy excesivos de los dos polos.</p>
        <img src="../ph.png" alt="" class="w-full md:w-[40%] my-8 mx-auto">

        <div class="mt-24 opacity-60 w-full">
            <p class="italic">
            1. del Estado I de S y. SS de LT. El equilibrio del PH en el organismo [Internet]. gob.mx. [citado el 29 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.gob.mx/issste/articulos/el-equilibrio-del-ph-en-el-organismo?idiom=es">https://www.gob.mx/issste/articulos/el-equilibrio-del-ph-en-el-organismo?idiom=es</a></span>
            </p>
            <br>
            <p class="italic">
            2. Imagen de pH M. Qué es el pH y como se puede medir [Internet]. Medidordeph.com. medidordepH.com; 2013 [citado el 29 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://medidordeph.com/blog/2013/11/que-es-ph/">https://medidordeph.com/blog/2013/11/que-es-ph/</a></span>
            </p>
        </div>
    </div>
    <Footer/>
</Layout>