---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Potencial de acción del corazón | AVA">
    <div class="text-justify bg-white px-8 md:px-24 xl:px-48 pb-32" id="page1">
        <div class="h-48 flex justify-center align-middle ">
            <p class="text-2xl font-bold my-auto opacity-40">Conoce más</p>
        </div>
        <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">Potencial de acción del corazón</h1>
        <p><span class="font-bold">Fase 1: </span>Repolarización, se da cuando los canales de sodio rápidos se cierran. Al cerrarse, la célula empieza a repolarizar y los iones de potasio salen de la célula a través de los canales de potasio.</p>
        <br>
        <p><span class="font-bold">Fase 2 (meseta): </span> Los canales de calcio se abren y los canales de potasio rápidos se cierra. Se da lugar a una breve repolarización inicial y el potencial de acción alcanza una mesera como consecuencia de: 1) una mayor permeabilidad de los iones calcio, y 2) la disminución de la permeabilidad de los iones potasios.</p>
        <br>
        <p>Canales de calcio activados por el voltaje se abren lentamente durante la fase 1 y 0, y así ingresa a la célula. Después, los canales de potasio se cierran, y la combinación de una reducción en la salida de iones potasio y un aumento de la entrada de los iones calcio genera que el potencial de acción alcance una meseta.</p>
        <br>
        <p><span class="font-bold">Fase 3: </span> Se da una repolarización rápida, canales de calcio se cierra y los de potasio se abren lento. El cierre de los canales de calcio da la permeabilidad a los iones potasio, que permiten que los iones de potasio salgan rápidamente de la célula, poniendo fin a la meseta y devuélvele el potencial de la membrana celular a su nivel de reposo.</p>
        <br>
        <p><span class="font-bold">Fase 4: </span> Potencial de membrana en reposos con un valor de -90 mV</p>
        <img src="../heart3.png" alt="" class="w-full md:w-[30%] my-8 mx-auto">

        <div class="mt-24 opacity-60 w-full">
            <p class="italic">
            1. Hall JE. Guyton y Hall. Tratado de Fisiología Médica + Studentconsult. 12a ed. Elsevier; 2016.</p>
        </div>
    </div>
    <Footer/>
</Layout>