---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Sabias que | AVA">
  <script>
    let currentpage = 1;

    var page_1 = document.getElementById("page1");
    var page_2 = document.getElementById("page2");
    var page_3 = document.getElementById("page3");
    var page_4 = document.getElementById("page4");
    var page_5 = document.getElementById("page5");
    var page_6 = document.getElementById("page6");
    var page_7 = document.getElementById("page7");
    var page_8 = document.getElementById("page8");
    var page_9 = document.getElementById("page9");

    window.onload = function load() {
      page_1.style.visibility = "visible";
      page_2.style.visibility = "hidden";
      page_3.style.visibility = "hidden";
      page_4.style.visibility = "hidden";
      page_5.style.visibility = "hidden";
      page_6.style.visibility = "hidden";
      page_7.style.visibility = "hidden";
      page_8.style.visibility = "hidden";
      page_9.style.visibility = "hidden";
    }

    function changePagePrev() {
      if (currentpage !== 1) {
        currentpage--;
        if (currentpage == 1) {
          page_1.style.visibility = "visible";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 2) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "visible";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 3) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "visible";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 4) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "visible";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 5) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "visible";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 6) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "visible";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 7) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "visible";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 8) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "visible";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 9) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "visible";
        } else {
          console.log("error")
        }
      }
    }

    function changePageNext() {
      if (currentpage !== 9) {
        currentpage++;
        if (currentpage == 1) {
          page_1.style.visibility = "visible";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 2) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "visible";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 3) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "visible";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 4) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "visible";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 5) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "visible";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 6) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "visible";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 7) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "visible";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 8) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "visible";
          page_9.style.visibility = "hidden";
        } else if (currentpage == 9) {
          page_1.style.visibility = "hidden";
          page_2.style.visibility = "hidden";
          page_3.style.visibility = "hidden";
          page_4.style.visibility = "hidden";
          page_5.style.visibility = "hidden";
          page_6.style.visibility = "hidden";
          page_7.style.visibility = "hidden";
          page_8.style.visibility = "hidden";
          page_9.style.visibility = "visible";
        } else {
          console.log("error")
        }
      }
    }
    
    const prevBtns = document.getElementById("prevBtn");
    prevBtns.addEventListener("click", changePagePrev );

    const nextBtns = document.getElementById("nextBtn");
    nextBtns.addEventListener("click", changePageNext );
    
    const prevBtns2 = document.getElementById("prevBtn2");
    prevBtns2.addEventListener("click", changePagePrev );

    const nextBtns2 = document.getElementById("nextBtn2");
    nextBtns2.addEventListener("click", changePageNext );

    const prevBtns3 = document.getElementById("prevBtn3");
    prevBtns3.addEventListener("click", changePagePrev );

    const nextBtns3 = document.getElementById("nextBtn3");
    nextBtns3.addEventListener("click", changePageNext );

    const prevBtns4 = document.getElementById("prevBtn4");
    prevBtns4.addEventListener("click", changePagePrev );

    const nextBtns4 = document.getElementById("nextBtn4");
    nextBtns4.addEventListener("click", changePageNext );

    const prevBtns5 = document.getElementById("prevBtn5");
    prevBtns5.addEventListener("click", changePagePrev );

    const nextBtns5 = document.getElementById("nextBtn5");
    nextBtns5.addEventListener("click", changePageNext );

    const prevBtns6 = document.getElementById("prevBtn6");
    prevBtns6.addEventListener("click", changePagePrev );

    const nextBtns6 = document.getElementById("nextBtn6");
    nextBtns6.addEventListener("click", changePageNext );

    const prevBtns7 = document.getElementById("prevBtn7");
    prevBtns7.addEventListener("click", changePagePrev );

    const nextBtns7 = document.getElementById("nextBtn7");
    nextBtns7.addEventListener("click", changePageNext );

    const prevBtns8 = document.getElementById("prevBtn8");
    prevBtns8.addEventListener("click", changePagePrev );

    const nextBtns8 = document.getElementById("nextBtn8");
    nextBtns8.addEventListener("click", changePageNext );

    const prevBtns9 = document.getElementById("prevBtn9");
    prevBtns9.addEventListener("click", changePagePrev );

  </script>
  <div class="w-screen h-72" style="background-image: url('https://media.discordapp.net/attachments/577998542149386253/1031382594006306876/unknown.png?width=1006&height=671');">
  </div>
  <div class="md:px-56">
    <div class="h-[120vh]">
      <div class="grid-rows-2 absolute mx-auto h-[60rem] md:inset-5 md:top-[40%] w-screen xl:w-[80%] 2xl:w-[70%] px-0 lg:px-16">
        <div class="relative">
          <!-- Slide 1 -->
          <div class="text-justify w-screen md:w-[100%] absolute bg-white px-8 md:px-24 xl:px-32 pb-32" id="page1">
            <div class="h-48 flex justify-center align-middle ">
              <p class="text-2xl font-bold my-auto opacity-40">#SabiasQue</p>
            </div>
            <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">vasoconstricción en bajas temperaturas</h1>
            <p>Nuestros vasos sanguines pueden estrecharse debido a cambio climáticos de muy bajas temperaturas; este fenómeno también se conoce como vasoconstricción. Este proceso sirve para evitar la pérdida de calor y la producción de sudor, por eso cuando hay situaciones de mucho frío el músculo del vaso se contrae de tal manera que ayuda a compensar los cambios en la temperatura corporal. (1)</p>
            <br>
            <p>Entonces, ¿qué pasa cuando hay vasoconstricción? lo que sucede es que el paso de sangre de estrecha por el conducto vascular, lo que conlleva a disminuir el flujo sanguíneo y de este modo los componentes sanguines se concentran en los órganos vitales, es decir corazón, riñones, hígado y cerebro; con esto queremos dar a entender que producen es un aumento de la presión arterial, el problema es que, si no es regulada la temperatura, generara una disminución en la frecuencia cardiaca y respiratoria. (1)</p>
            <br>
            <p>Por otro lado, la presión arterial también puede verse afectada por un cambio repentino en los patrones meteorológicos, como un frente o una tormenta. El cuerpo (y los vasos sanguíneos) pueden reaccionar a los cambios abruptos de humedad, presión atmosférica, nubosidad o viento de la misma manera que reacciona al frío. Estas variaciones en la presión arterial relacionadas con el tiempo son más frecuentes en las personas mayores de 65 años. (2)</p>
            <br>
            <p>Otras causas estacionales de una mayor presión arterial incluyen el aumento de peso y la menor cantidad de actividad física, que son frecuentes en el invierno, y los alimentos salados que se suelen ingerir durante las vacaciones. (2)</p>

            <div class="mt-24 opacity-60">
              <p class="italic">
                1. Junquera R. Vasoconstricción [Internet]. Fisioterapia-online.com. FisioOnline; [citado el 24 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.fisioterapia-online.com/glosario/vasoconstriccion">https://www.fisioterapia-online.com/glosario/vasoconstriccion</a></span>
              </p>
              <br>
              <p class="italic">
                2. La presión arterial: ¿se ve afectada por el clima frío? [Internet]. Mayo Clinic. 2022 [citado el 24 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.mayoclinic.org/es-es/diseases-conditions/high-blood-pressure/expert-answers/blood-pressure/faq-20058250">https://www.mayoclinic.org/es-es/diseases-conditions/high-blood-pressure/expert-answers/blood-pressure/faq-20058250</a></span>
              </p>
            </div>

            <div class="grid grid-cols-2 h-16 mt-16 auto-cols-max items-center">
              <div class="w-full h-full">
                <button id="prevBtn" class="w-full h-full hidden bg-blue-900 hover:bg-blue-800 text-white font-bold">Anterior</button>
              </div>
              <div class="w-full h-full">
                <button id="nextBtn" class="w-full h-full bg-blue-800 hover:bg-blue-700 text-white font-bold">Siguiente</button>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="text-justify w-screen md:w-[100%] absolute bg-white px-8 md:px-24 xl:px-32 pb-32" id="page2">
            <div class="h-48 flex justify-center align-middle ">
              <p class="text-2xl font-bold my-auto opacity-40">#SabiasQue</p>
            </div>
            <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">Alteración en el equilibrio acido-base</h1>
            <p>Al no haber una excreción de iones ácidos (CO2), debió a las muy bajas temperaturas genera que se acumulen estos en la sangre, generando asi una acidosis respiratoria. La reversión súbita de la acidosis puede causar fibrilación ventricular (1) (La fibrilación ventricular es un tipo de ritmo cardíaco anormal (arritmia).</p>
            <br>
            <p>Durante la fibrilación ventricular, las señales cardíacas desorganizadas hacen que las cámaras cardíacas inferiores (ventrículos) se contraigan (tiemblen) inútilmente. Como resultado, el corazón no bombea sangre al resto del cuerpo), debido a la falta de oxigeno al miocardio, este es el musculo encargado de impulsar la sangre a todo el cuerpo mediante su contracción. (2)</p>
            <div class="mt-24 opacity-60">
              <p class="italic">
                1. Acción general del frío sobre el organismo humano. « Fisiopatología (•) [Internet]. Apunts.org. [citado el 22 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.apunts.org/index.php?p=revista&tipo=pdf-simple&pii=X0213371779046790&r=276">https://www.apunts.org/index.php?p=revista&tipo=pdf-simple&pii=X0213371779046790&r=276</a></span>
              </p>
              <br>
              <p class="italic">
                2. Fibrilación ventricular [Internet]. Mayoclinic.org. 2021 [citado el 22 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://www.mayoclinic.org/es-es/diseases-conditions/ventricular-fibrillation/symptoms-causes/syc-20364523">https://www.mayoclinic.org/es-es/diseases-conditions/ventricular-fibrillation/symptoms-causes/syc-20364523</a></span>
              </p>
            </div>
            <div class="grid grid-cols-2 h-16 mt-16 auto-cols-max items-center">
              <div class="w-full h-full">
                <button id="prevBtn2" class="w-full h-full bg-blue-900 hover:bg-blue-800 text-white font-bold">Anterior</button>
              </div>
              <div class="w-full h-full">
                <button id="nextBtn2" class="w-full h-full bg-blue-800 hover:bg-blue-700 text-white font-bold">Siguiente</button>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="text-justify w-screen md:w-[100%] absolute bg-white px-8 md:px-24 xl:px-32 pb-32" id="page3">
            <div class="h-48 flex justify-center align-middle ">
              <p class="text-2xl font-bold my-auto opacity-40">#SabiasQue</p>
            </div>
            <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">Técnica de hipotermia</h1>
            <p>Esta técnica se trata de someter la paciente a una hipotermia inducida para enfriar el cuerpo de su temperatura normal de 37ºC a sólo 18ºC.</p>
            <br>
            <p>El enfriamiento se realiza a través de una máquina de hipotermia, que controla automáticamente la temperatura deseada del agua circulante en su interior, y que tiene un circuito de entrada y salida, con dos mangueras, dirigida a una manta térmica colocada por debajo del cuerpo del paciente, para establecer la recirculación del agua fría o caliente, y que a su vez presenta otra derivación conectada a un circuito de manguera, que se une a la entrada y salida del intercambiador de calor, localizado en la parte inferior del oxigenador, que permite el enfriamiento o calentamiento de la sangre del paciente, mientras circula a través del circuito extracorpóreo. (1)</p>
            <br>
            <p>Asi permitiendo superar dificultades para operar en un corazón con latido.</p>
            <br>
            <p>Los médicos explican que, al someter al paciente con esta técnica, queda en un estado similar a alguien que ha muerto. “El cuerpo en esencia queda en un estado de animación suspendida, sin pulso, sin presión arterial, sin signos de actividad cerebral" explica a la BBC el doctor John Elefteriades, cirujano cardiovascular que participa en la investigación. (2)</p>
            <br>
            <p>Por otra parte, esta técnica tiene como objetivo, es mientras se mantiene frio disminuyen los procesos corporales, y asi los cirujanos tienen mayor facilidad para poder hacer la operación, antes de que se llegue a el riesgo de daño cerebral (ya que, si no llega sangre adecuadamente al cerebro, puede ocasionar daños permanentes). Una vez se completa la cirugía se calienta al paciente, y se reinicia su función cardiaca con un desfibrilador. (2)</p>
            <div class="mt-24 opacity-60">
              <p class="italic break-all">
                1. Echevarría JRL. Técnicas de Hipotermia aplicadas en la cirugía cardiovascular con circulación extracorpórea. Rev cuba cardiol cir cardiovasc [Internet]. 2016 [citado el 22 de octubre de 2022];22(2):102–7. Disponible en: <span><a class="text-red-900 font-bold" href="http://www.revcardiologia.sld.cu/index.php/revcardiologia/article/view/642/html_43">http://www.revcardiologia.sld.cu/index.php/revcardiologia/article/view/642/html_43</a></span>
              </p>
              <br>
              <p class="italic break-all">
                2. BBC News Mundo. Técnica que “mata” y resucita con hipotermia. BBC [Internet]. el 28 de septiembre de 2010 [citado el 22 de octubre de 2022]; Disponible en: <span><a class="text-red-900 font-bold" href="https://www.bbc.com/mundo/noticias/2010/09/100928_hipotermia_cirugia_men">https://www.bbc.com/mundo/noticias/2010/09/100928_hipotermia_cirugia_men</a></span>
              </p>
            </div>
            <div class="grid grid-cols-2 h-16 mt-16 auto-cols-max items-center">
              <div class="w-full h-full">
                <button id="prevBtn3" class="w-full h-full bg-blue-900 hover:bg-blue-800 text-white font-bold">Anterior</button>
              </div>
              <div class="w-full h-full">
                <button id="nextBtn3" class="w-full h-full bg-blue-800 hover:bg-blue-700 text-white font-bold">Siguiente</button>
              </div>
            </div>
          </div>

          <!-- Slide 4 -->
          <div class="text-justify w-screen md:w-[100%] absolute bg-white px-8 md:px-24 xl:px-32 pb-32" id="page4">
            <div class="h-48 flex justify-center align-middle ">
              <p class="text-2xl font-bold my-auto opacity-40">#SabiasQue</p>
            </div>
            <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">Alteración en las enzimas</h1>
            <p>Las enzimas son muy sensibles a la temperatura, esto puede afectar en que tan rápido catalice la reacción que convierte un sustrato en un producto. A bajas temperaturas, la mayor parte de las enzimas muestras una muy poca actividad, ya que no hay suficiente cantidad de energía para que tenga lugar la reacción catalizada, por esto es de vital importancia que a pesar de vivir o estar en zonas muy frías es necesario abrigarnos, ya que las enzimas cumplen papeles muy importante a nivel molecular, ya que participan en sin número de reacciones metabólicas de vital importancia para la vida, como el ciclo de Krebs, que gracias se liberan grandes cantidades de electrones y protones que serán transportados hacia la cadena respiratoria además de la producción de ATP(1).</p>
            <br>
            
            <p>La mayoría de las enzimas humanas son más activas a temperatura óptima, que es de 37°C, o temperatura corporal. A temperaturas superiores a 50°C, la estructura terciaria, y por ende la forma de la mayor parte de las proteínas, se destruye, lo que causa una pérdida de actividad enzimática. Otro dato curioso es que, por esta razón, el equipo en los hospitales y laboratorios se esteriliza en autoclaves donde las temperaturas altas desnaturalizan las enzimas que existen en las bacterias dañinas. Una fiebre corporal alta puede ayudar a desnaturalizar las enzimas existentes en las bacterias que causan la infección. (2)</p>

            <img src="../../public/enzimas.png" alt="" class="w-[50%] mt-16">
            <div class="mt-24 opacity-60">
              <p class="italic break-all">
                1. El ciclo de Krebs en el ejercicio clínico de la nutriología [Internet]. IIDENUT. 2020 [citado el 22 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold" href="https://www.iidenut.org/instituto/2020/03/14/el-ciclo-de-krebs-en-el-ejercicio-clinico-de-la-nutriologia/">https://www.iidenut.org/instituto/2020/03/14/el-ciclo-de-krebs-en-el-ejercicio-clinico-de-la-nutriologia/ </a></span>
              </p>
              <br>
              <p class="italic break-all">
                2. Bio-Orgánica Q. Factores que afectan la actividad enzimática [Internet]. Edu.uy. [citado el 22 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold" href="https://uruguayeduca.anep.edu.uy/sites/default/files/inline-files/Factores%20que%20afectan%20la%20actividad%20enzim%C3%A1tica.pdf">https://uruguayeduca.anep.edu.uy/sites/default/files/inline-files/Factores%20que%20afectan%20la%20actividad%20enzim%C3%A1tica.pdf</a></span>
              </p>
              <br>
              <p class="italic break-all">
                3. IMAGEN   Consejo de Educacion Tecnico profesional Universidad del trabajo del Uruguay. Factores que afectan la actividad enzimatica. <span><a class="text-red-900 font-bold" href="https://uruguayeduca.anep.edu.uy/sites/default/files/inline-files/Factores%20que%20afectan%20la%20actividad%20enzim%C3%A1tica.pdf">https://uruguayeduca.anep.edu.uy/sites/default/files/inline-files/Factores%20que%20afectan%20la%20actividad%20enzim%C3%A1tica.pdf</a></span>; 3B1-2020.
              </p>
            </div>
            <div class="grid grid-cols-2 h-16 mt-16 auto-cols-max items-center">
              <div class="w-full h-full">
                <button id="prevBtn4" class="w-full h-full bg-blue-900 hover:bg-blue-800 text-white font-bold">Anterior</button>
              </div>
              <div class="w-full h-full">
                <button id="nextBtn4" class="w-full h-full bg-blue-800 hover:bg-blue-700 text-white font-bold">Siguiente</button>
              </div>
            </div>
          </div>

          <!-- Slide 5 -->
          <div class="text-justify w-screen md:w-[100%] absolute bg-white px-8 md:px-24 xl:px-32 pb-32" id="page5">
            <div class="h-48 flex justify-center align-middle ">
              <p class="text-2xl font-bold my-auto opacity-40">#SabiasQue</p>
            </div>
            <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">EN EL FRIO SE PROPAGAN MAS FACIL LOS VIRUS.</h1>
            <p>En invierno la gente se enferma con mucha más frecuencia y es por varios factores, como la falta de la ventilación natural, cuando hay mucho frio normalmente los lugares cerrados con calefacción son los más transitados debido a que lo que menos quieres es estar afuera con esa baja temperatura, por ende, al estar en lugares cerrados sin ventilación natural, es muy fácil la propagación de un. (2) Además, un estudio realizado por la universidad de Cardiff, en Gran Bretaña, llegó a la conclusión de que la exposición al frío ayuda a que el virus se inocule con mayor facilidad. Se hizo un experimento con 180 voluntarios. 90 introdujeron sus pies en agua fría (10ºC) y otros no. El resultado fue que el 29% de las personas que introdujeron sus pies en el agua fría, dijeron que tenían síntomas de resfriado, frente al 9% de los que no lo hicieron. Explicación que dieron: “al estar expuesto a bajas temperaturas, tu organismo tiende a retirar sangre de las zonas prescindibles, como la nariz. De ahí que, cuando hace frío, lo primero que se enfría son las manos, la nariz… Si dos personas tienen un rinovirus en su nariz, la probabilidad de que el virus prospere y se extienda es mayor en la persona expuesta al frío que en la que no lo está por esa misma razón. El menor flujo sanguíneo a la nariz supone una menor presencia de leucocitos y una mayor facilidad de expansión del virus.</p>
            <br>
            
            <p>Según Ellen F. Foxman y sus colegas de la Universidad de Yale, en EE. UU., demostraron que el rinovirus que ocasiona los constipados no es capaz de reproducirse a 37°C, la temperatura que suele presentar el interior del cuerpo, pero sí cuando el mercurio marca entre 33°C y 35°C. En esta franja térmica se sitúan las cavidades nasales cuando nos exponemos durante un tiempo largo al frío. Además, la respuesta del sistema inmune resulta menos eficiente en un ambiente gélido, por lo que ese fresco glacial nos deja desarmados ante un ataque viral.</p>

            <iframe width="560" height="315" class="mt-16 mx-auto max-w-full"  src="https://www.youtube.com/embed/kzDMCb3823g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="mt-24 opacity-60">
              <p class="italic break-all">
                1. Hiperactina L. ¿Puede el FRÍO causar un RESFRIADO? | La Hiperactina [Internet]. Youtube; 2019 [citado el 22 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold" href="https://www.youtube.com/watch?v=kzDMCb3823g">https://www.youtube.com/watch?v=kzDMCb3823g</a></span>
              </p>
              <br>
              <p class="italic break-all">
                2. COPE. Curiosidades científicas sobre el frío [Internet]. COPE.es. 2020 [citado el 22 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold" href="https://www.cope.es/emisoras/pais-vasco/noticias/curiosidades-cientificas-sobre-frio-20200113_592142">https://www.cope.es/emisoras/pais-vasco/noticias/curiosidades-cientificas-sobre-frio-20200113_592142</a></span>
              </p>
              <br>
              <p class="italic break-all">
                3.    Hiperactiva L. ¿Puede el FRÍO causar un RESFRIADO? [Internet]. España: Medicina; 3/feb/2019. Disponible en: <span><a class="text-red-900 font-bold" href="https://www.youtube.com/watch?v=kzDMCb3823g&ab_channel=LaHiperactina">https://www.youtube.com/watch?v=kzDMCb3823g&ab_channel=LaHiperactina</a></span>
              </p>
            </div>
            <div class="grid grid-cols-2 h-16 mt-16 auto-cols-max items-center">
              <div class="w-full h-full">
                <button id="prevBtn5" class="w-full h-full bg-blue-900 hover:bg-blue-800 text-white font-bold">Anterior</button>
              </div>
              <div class="w-full h-full">
                <button id="nextBtn5" class="w-full h-full bg-blue-800 hover:bg-blue-700 text-white font-bold">Siguiente</button>
              </div>
            </div>
          </div>

          <!-- Slide 6 -->
          <div class="text-justify w-screen md:w-[100%] absolute bg-white px-8 md:px-24 xl:px-32 pb-32" id="page6">
            <div class="h-48 flex justify-center align-middle ">
              <p class="text-2xl font-bold my-auto opacity-40">#SabiasQue</p>
            </div>
            <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">PILOERECCION.</h1>
            <p>La piloerección o también conocida común mente como la piel de gallina, es cuando se nos erizan los vellos, sea por frio, emociones o algún rose con alguien.</p>
            <br>
            
            <p>La piloerección es un fenómeno fisiológico que se desencadena involuntaria mete por el sistema nervioso simpático. Este consiste en la contracción de los músculos erectores del pelo; estos con la función de que los vellos se ericen. La reacción de poner los pelos de punta como respuesta al frío es un reflejo es porque los pelos erectos permiten atrapar el aire y crean una capa de aislamiento que ayuda a proteger de las bajas temperaturas. (1)</p>

            <img src="../../public/piel-gallina.png" alt="" class="w-[70%] mt-16 mx-auto">
            <div class="mt-24 opacity-60">
              <p class="italic break-all">
                1. Sánchez E. ¿Sabes qué es la piloerección? [Internet]. Mejor con Salud. 2019 [citado el 22 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold" href="https://mejorconsalud.as.com/sabes-que-es-la-piloereccion/">https://mejorconsalud.as.com/sabes-que-es-la-piloereccion/</a></span>
              </p>
              <br>
              <p class="italic break-all">
                2. Universidad Pontificia de México. ¿Por qué se nos pone la piel de gallina? <span><a class="text-red-900 font-bold" href="https://web.facebook.com/UPMinerva/photos/a.1781750815484503/2960276707631902/?_rdc=1&_rdr">https://web.facebook.com/UPMinerva/photos/a.1781750815484503/2960276707631902/?_rdc=1&_rdr</a></span>; 2021. (IMAGEN)
              </p>
            </div>
            <div class="grid grid-cols-2 h-16 mt-16 auto-cols-max items-center">
              <div class="w-full h-full">
                <button id="prevBtn6" class="w-full h-full bg-blue-900 hover:bg-blue-800 text-white font-bold">Anterior</button>
              </div>
              <div class="w-full h-full">
                <button id="nextBtn6" class="w-full h-full bg-blue-800 hover:bg-blue-700 text-white font-bold">Siguiente</button>
              </div>
            </div>
          </div>

          <!-- Slide 7 -->
          <div class="text-justify w-screen md:w-[100%] absolute bg-white px-8 md:px-24 xl:px-32 pb-32" id="page7">
            <div class="h-48 flex justify-center align-middle ">
              <p class="text-2xl font-bold my-auto opacity-40">#SabiasQue</p>
            </div>
            <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">HIPOTALAMO COMO TERMO-REGULADOR.</h1>
            <p>La termorregulación es un proceso natural del cuerpo que consiste en la activación de mecanismos centrales y periféricos para mantener la homeostasis corporal y las funciones vitales constantes. Su importancia está relacionada con la estabilidad de los procesos cardiovasculares, respiratorios, renales, endocrinos, nerviosos y el funcionamiento de los músculos, además, presenta vías complejas que permiten un vínculo estrecho entre estímulo y respuesta donde se involucran las vías aferentes y eferentes (1).</p>
            <br>
            <p>Estos mecanismos son controlados por el hipotálamo, este hace parte del encéfalo, este funciona a través de un sistema de retroalimentación, el cual permite aumento o disminución de la temperatura, en respuesta a el medio externo. </p>
            <br>
            <p>La información que reciben los receptores sensoriales térmicos (neuronas especializada, las cuales son sensibles al frio y al calor), estas detectan las sensaciones de temperaturas y asi envían impulsos ascendentes para llegar al encéfalo y exactamente al hipotálamo el cual enviara referencias (respuestas), para regular la temperatura, estos receptores se encuentran en piel, en la medula espinal, órganos internos y especialmente en la región posterior del hipotálamo, manteniendo como un valor de referencia una temperatura de 37ºC, al haber algún cambio este actuara para asi poder mantener una homeostasis o equilibrio en la temperatura corporal. (1)</p>

            <img src="../../public/control.png" alt="" class="w-full md:w-[70%] my-8 mx-auto">
            <div class="mt-24 opacity-60">
              <p class="italic break-all">
                1. Picón-Jaimes YA, Orozco-Chinome JE, Molina-Franky J, Franky-Rojas MP. Control central de la temperatura corporal y sus alteraciones: fiebre, hipertermia e hipotermia. Medunab [Internet]. 2020 [citado el 22 de octubre de 2022];23(1):118–30. Disponible en: <span><a class="text-red-900 font-bold" href="https://revistas.unab.edu.co/index.php/medunab/article/view/3714/3219">https://revistas.unab.edu.co/index.php/medunab/article/view/3714/3219</a></span>
              </p>
              <br>
              <p class="italic break-all">
                2. <span class="font-bold">Figura 1:</span> Picón-Jaimes YA, Orozco-Chinome JE, Molina-Franky J, Franky-Rojas MP. Control central de la temperatura corporal y sus alteraciones: fiebre, hipertermia e hipotermia. Medunab [Internet]. 2020;23(1):118–30. Disponible en: <span><a class="text-red-900 font-bold" href="https://www.redalyc.org/journal/719/71965088011/71965088011.pdf">https://www.redalyc.org/journal/719/71965088011/71965088011.pdf</a></span>
              </p>
            </div>
            <div class="grid grid-cols-2 h-16 mt-16 auto-cols-max items-center">
              <div class="w-full h-full">
                <button id="prevBtn7" class="w-full h-full bg-blue-900 hover:bg-blue-800 text-white font-bold">Anterior</button>
              </div>
              <div class="w-full h-full">
                <button id="nextBtn7" class="w-full h-full bg-blue-800 hover:bg-blue-700 text-white font-bold">Siguiente</button>
              </div>
            </div>
          </div>

          <!-- Slide 8 -->
          <div class="text-justify w-screen md:w-[100%] absolute bg-white px-8 md:px-24 xl:px-32 pb-32" id="page8">
            <div class="h-48 flex justify-center align-middle ">
              <p class="text-2xl font-bold my-auto opacity-40">#SabiasQue</p>
            </div>
            <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">Alteración de la membrana plasmática a bajas temperaturas.</h1>
            <p>La membrana plasmática también conocida como un mosaico fluido, representa el limite entre el medio extracelular e intracelular además actúa como una barreara selectiva para el paso de moléculas. Esta al estar en ambientes de bajas temperaturas, entra en un estado de alerta, generando cambios para mantener en un estado de equilibro en fluidez de ella, ya que esta tiene funciones vitales en la membrana como:</p>
            <ul>
              <li>Permite que las interacciones tengan lugar dentro de la membrana.</li>
              <li>Proporciona un compromiso perfecto entre una estructura rígida y ordenada en la que la movilidad estaría ausente, y un líquido fluido por completo, no viscoso, en el que los componentes de la membrana no se podrían orientar y la organización estructural y el soporte mecánico serían insuficientes (1).</li>
            </ul>
            <br>
            <p>Entonces colesterol presente en células eucariotas (es decir animales), refuerza la barrera semipermeable y colaboran en la fluidez de la membrana plasmática, por ello cuando hay bajas temperaturas el colesterol interfiere cadenas de ácidos grasos protegiendo a la membrana del congelamiento, en otras palabras. Previene que se compacten las cadenas hidrocarbonadas a bajas temperaturas, ya que evita que las colas se junten, aumenten las interacciones débiles entre las mismas y se “cristalicen” (adopten una estructura muy compacta (2).</p>
            
            <img src="../../public/membrana1.png" alt="" class="w-full md:w-[70%] my-8 mx-auto">
            
            <div class="mt-24 opacity-60">
              <p class="italic break-all">
                1. Iwasa J, Marshall W, Karp G. Biología celular y molecular: conceptos y experimentos. México Etc.: Mcgraw-Hill; 2019.
              </p>
              <br>
              <p class="italic break-all">
                <span class="font-bold">Imagen:</span> De Shigeo Takamori, et al. CortesDe Shigeo Takamori, et al. Cortesía de Reinhard Jahn, Cell 2006;127:841, reimpreso con permiso de Elseviería de Reinhard Jahn, Cell 2006;127:841, reimpreso con permiso de Elsevier‌ 
              </p>
              <br>
              <p class="italic break-all">
                2. PerezMariaAleja_2013_VMEMBRANAPLASMATICA_BiologiaCelular%20.pdf. [citado el 22 de octubre de 2022]. Disponible en: <span><a class="text-red-900 font-bold" href="http://PerezMariaAleja_2013_VMEMBRANAPLASMATICA_BiologiaCelular%20.pdf">http://PerezMariaAleja_2013_VMEMBRANAPLASMATICA_BiologiaCelular%20.pdf</a></span>
              </p>
            </div>
            <div class="grid grid-cols-2 h-16 mt-16 auto-cols-max items-center">
              <div class="w-full h-full">
                <button id="prevBtn8" class="w-full h-full bg-blue-900 hover:bg-blue-800 text-white font-bold">Anterior</button>
              </div>
              <div class="w-full h-full">
                <button id="nextBtn8" class="w-full h-full bg-blue-800 hover:bg-blue-700 text-white font-bold">Siguiente</button>
              </div>
            </div>
          </div>

          <!-- Slide 9 -->
          <div class="text-justify w-screen md:w-[100%] absolute bg-white px-8 md:px-24 xl:px-32 pb-32" id="page9">
            <div class="h-48 flex justify-center align-middle ">
              <p class="text-2xl font-bold my-auto opacity-40">#SabiasQue</p>
            </div>
            <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">La importancia de la sal (NaCI) en la regulación de la presión arterial.</h1>
            <p>En estudios experimentales se ha demostrado que el aumento de la ingesta de sal eleva más la presión arterial que el aumento de la ingestión de agua; esto debido a que el agua se excreta normalmente por los riñones, casi con la misma velocidad en la que se ingiere, en cambio la san no se excreta tan fácilmente. (1)</p>
            <p>Cuando se acumula la sal en el organismo asi mismo aumenta indirectamente el volumen del líquido extracelular, esto debido a dos razones. </p>
            <br>
            <img src="../../public/artt.png" alt="" class="w-full md:w-[70%] my-8 mx-auto">
            <br>
            <ul>
              <li>1.    Cuando hay exceso de NaCl (sal) en el líquido extracelular, aumentara la osmolalidad del líquido, generando un estímulo al centro de la sed en el cerebro, generando que la persona desee tomar cantidades extras de agua, para nivelar la concentración extracelular de sal, aumentando asi el volumen del líquido extracelular. (1)</li>
              <br>
              <li>2.    Aumento de la osmolalidad causado por el exceso de la sal en el líquido extracelular también estimula el mecanismo secreto del eje hipotálamo-hipófisis de hormona antidiurética, esta hormona provoca una reabsorción renal de cantidades mucho mayores de agua del líquido tubular renal, lo que disminuye el volumen excretado de orina, pero aumenta el volumen del líquido extracelular. (1)</li>
            </ul>
            
            <div class="mt-24 opacity-60">
              <p class="italic break-all">
                1. Hall JE. Guyton y Hall. Tratado de Fisiologia Medica + Studentconsult. 12a ed. Elsevier; 2016.
              </p>
              <br>
              <p class="italic break-all">
                2. <span class="font-bold">Imagen CDC.</span>  presion arterial [Internet]. unsplash; Publicado el 16 de septiembre de 2021. Disponible en: <span><a class="text-red-900 font-bold" href="https://unsplash.com/es/fotos/R4VUajOucGM">https://unsplash.com/es/fotos/R4VUajOucGM</a></span>
              </p>
            </div>
            <div class="grid grid-cols-2 h-16 mt-16 auto-cols-max items-center">
              <div class="w-full h-full">
                <button id="prevBtn9" class="w-full h-full bg-blue-900 hover:bg-blue-800 text-white font-bold">Anterior</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>