---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Sistema respiratorio | AVA">
    <div class="text-justify bg-white px-8 md:px-24 xl:px-48 pb-32" id="page1">
        <div class="h-48 flex justify-center align-middle ">
            <p class="text-2xl font-bold my-auto opacity-40">Conoce mas</p>
        </div>
        <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">Sistema respiratorio
        </h1>
        <p>El sistema respiratorio es un conjunto anatómico, en el cual participan, pulmones, las vas aéreas, parte del sistema nervioso central, los músculos respiratorios y la caja torácica. (1) se conocen dos vías áreas estructuralmente; la vía aérea alta y baja, la vía aérea alta esta constituida por cavidad nasal, faringe y laringe y la vía aérea baja está constituida por árbol traqueobronquial, bronquios y alveolos. (2)
        </p>
        <br>
        <p>La función principal es el intercambio gaseoso, aunque también contribuye al mantenimiento del equilibrio ácido-base, la fonación, la defensa frente a agentes nocivos del aire ambiental y diversas funciones metabólicas. (1)
        </p>
        <br>

        <h1 class="text-md md:text-2xl font-extrabold my-auto pt-12 uppercase text-left">Vía aérea superior</h1>
        <br>
        <p>Vía aérea superior es de vital importancia ya que gracias a ella se evita la entrada de materiales extraños en el árbol traqueobronquial, esta participa en funciones de fonación y olfatorio. (2)
        </p>
        <br>
        <p>La nariz filtra, humificar y calienta el aire inspirado. Faringe, esta se divide en tres partes, nasofaringe, orofaringe y laringofaringe.</p>
        <br>

        <h1 class="text-md md:text-2xl font-extrabold my-auto pt-12 uppercase text-left">Vía área inferior</h1>
        <br>
        <p>Laringe, esta participa en la fonación, pero también desempeña una función importante en la protección frente a la aspiración de olidos y líquidos.</p>
        <br>
        <p>El interior de la laringe se encuentra tapizado por una membrana mucosa que forma dos pares de pliegues que protruyen en su interior. Los superiores son las cuerdas vocales falsas, pues no tienen función alguna en la fonación. Los inferiores son las cuerdas vocales verdaderas. El espacio que limita ambas cuerdas se denomina glotis. Las cuerdas se abren durante la inspiración profunda y tienden a cerrarse en la espiración, aunque persiste cierta abertura de la glotis. La laringe también tiene una importante función en la maniobra de la tos. (2)
        </p>

        <h3 class="text-md font-extrabold my-auto pt-12 uppercase text-left">Árbol traqueobronquial</h3>
        <br>
        <p>Es un conjunto de vías ramificadas que conducen el aire inspirado hasta las unidades respiratorias terminales. Se distinguen dos grandes zonas: de conducción y respiratoria. En la primera se distinguen vías aéreas cartilaginosas y no cartilaginosas. Son vías cartilaginosas la tráquea y los bronquios principales, lobares, segmentarios y subsegmentarios, en tanto que los bronquíolos y los bronquíolos terminales son vías no cartilaginosas. (2)
        </p>
        <br>
        <p>El epitelio del tracto respiratorio tiene diversos tipos de células especializadas, Inicialmente es un epitelio pseudo estratificado que se transforma hacia distal en uno coloidal para finalmente terminar siendo escamoso. Las células caliciformes producen la mucina (glicoproteínas ácidas) que constituye el mucus de la vía aérea, principalmente en tráquea y bronquios. Las células epiteliales no ciliadas aparecen en los bronquiolos, secretan proteínas del surfactante, lípidos, glicoproteínas y moduladores de inflamación. Además, son progenitoras de otras células no ciliadas y ciliadas, metabolizan material extraño y participan del balance de fluido de la vía aérea. El epitelio respiratorio está recubierto por cilios, en su parte superior, se conoce como la zona apical de las células, la función de estos cilios es movilizar el mucus desde la vía aérea distal hasta la faringe. (1)
        </p>
        <br>
        <img src="../resp.png" alt="" class="w-full md:w-[40%] my-8 mx-auto">

        <h1 class="text-md md:text-2xl font-extrabold my-auto pt-12 uppercase text-left">Bronquios</h1>
        <br>
        <p>Son conductos que permiten el pasaje del aire hacia los pulmones, estos se empiezan a ramificar desde la tráquea, hay bronquios principales, secundarios y bronquios terciarios (segmentarios) estos se dividen en muchos bronquiolos más pequeños que se ramifican en bronquiolos terminales y luego en bronquiolos respiratorios; a su vez, estos se dividen en 2 a 11 conductos alveolares. Cada conducto alveolar tiene 5 o 6 sacos alveolares asociados. El alvéolo es la unidad anatómica básica en donde ocurre el intercambio de gases. (3)</p>
        <br>

        <h1 class="text-md md:text-2xl font-extrabold my-auto pt-12 uppercase text-left">Enfermedades relacionadas con este sistema</h1>
        <br>
        <p>Asma, infecciones respiratorias, atelectasias e insuficiencia respiratoria, EPOC, entre otras, claramente las temperaturas harán que las personas que tengan este tipo de enfermedades puedan empeorar, por el caso de las muy bajas temperaturas, ya que estas en vez de ayudar a el paciente, lo genera es una dificultad mayor para poder respirar.</p>
        <br>

        <h1 class="text-md md:text-2xl font-extrabold my-auto pt-12 uppercase text-left">Como se da el intercambio gaseoso</h1>
        <br>
        <p>Los movimientos tanto de O2 como de CO2 a través de la barrera hematoalveolar se producen mediante difusión simple. Para esto, debe ocurrir una adecuada difusión de gases en la membrana alveolocapilar, proceso pasivo en el que el oxígeno se mueve hacia el capilar y el dióxido de carbono hacia el alveolo. Las características únicas de la membrana alveolocapilar favorecen la difusión de gases, pero es el gradiente de presión parcial de los gases el principal determinante. El oxígeno pasa fácilmente por la membrana alveolocapilar y se une rápidamente a la hemoglobina, saturándola, cuando se iguala la presión parcial de oxígeno alveolar y la capilar se detiene la difusión de este gas; por lo que la difusión de oxígeno en reposo está limitada por perfusión. La difusión del oxígeno es más lenta que la del dióxido de carbono debido a su menor solubilidad. En condiciones patológicas tanto el oxígeno como el dióxido de carbono pueden ser limitados por difusión (2).</p>
        <br>

        <div class="mt-24 opacity-60 w-full">
            <p class="italic pb-6">
                1.	Barberá JA. Estructura y función del aparato respiratorio [Internet]. Mhmedical.com. [citado el 30 de octubre de 2022]. Disponible en:
                <span><a class="text-red-900 font-bold"  href="https://accessmedicina.mhmedical.com/content.aspx?bookid=1858&sectionid=134367197">https://accessmedicina.mhmedical.com/content.aspx?bookid=1858&sectionid=134367197</a></span>
            </p>
            <p class="italic pb-6">
                2.	Vista de ESTRUCTURA Y FUNCIONES DEL SISTEMA RESPIRATORIO [Internet]. Neumologia-pediatrica.cl. [citado el 30 de octubre de 2022]. Disponible en: 
                <span><a class="text-red-900 font-bold"  href="https://neumologia-pediatrica.cl/index.php/NP/article/view/212/203">https://neumologia-pediatrica.cl/index.php/NP/article/view/212/203</a></span>
            </p>
            <p class="italic pb-6">
                3.  Vélez J, Laguna M. Bronquiolos y alvéolos. 2022.
                <span><a class="text-red-900 font-bold"  href="https://www.youtube.com/watch?v=rQu8DjCdLVA&ab_channel=Chemy">https://www.youtube.com/watch?v=rQu8DjCdLVA&ab_channel=Chemy</a></span>
            </p>
            <p class="italic pb-6">
                4.  IMAGEN (29) D. ¡FORORO! Rico alimento aunque peligroso — [Internet]. Steemit. 2019 [citado el 30 de octubre de 2022]. Disponible en:
                <span><a class="text-red-900 font-bold"  href="https://steemit.com/spanish/@delubi/fororo-rico-alimento-aunque-peligroso">https://steemit.com/spanish/@delubi/fororo-rico-alimento-aunque-peligroso</a></span>
            </p>
        </div>
    </div>
    <Footer/>
</Layout>