---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="¿Qué es el sistema cardio respiratorio? | AVA">
    <div class="text-justify bg-white px-8 md:px-24 xl:px-48 pb-32" id="page1">
        <div class="h-48 flex justify-center align-middle ">
            <p class="text-2xl font-bold my-auto opacity-40">Conoce mas</p>
        </div>
        <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">¿Qué es el sistema cardio respiratorio? 
        </h1>
        <p>El Sistema Cardio-respiratorio es aquel que está formado por dos aparatos bien diferenciados: el Sistema Circulatorio, el cual se encarga de hacer circular la sangre por todo el organismo, y el Aparato respiratorio, cuya función principal es introducir el oxígeno (O2) para que sea distribuido a todo el organismo juntamente con las sustancias nutritivas y eliminar el dióxido de carbono (CO₂).</p>
        <br>
        <p>Ambos aparatos juntos cumplen un funcionamiento vital, el cual es; aportar a las células el oxígeno y los nutrientes necesarios, y eliminar los elementos de desecho junto con el dióxido de carbono (CO₂). (1)</p>
        <br>
        <iframe class="my-16" src="https://app.powerbi.com/view?r=eyJrIjoiNzcwYmVmMzUtNmM5MC00MDgyLTk4MzMtMjcxOGI1YWNlYjZhIiwidCI6IjRhYjExODNlLTc1ZDYtNGI4Ny1iNGI1LWJmY2I5NjhjMWQ1NyIsImMiOjR9" allowfullscreen="allowfullscreen" width="1035" height="700" frameborder="0"></iframe>
        <br>
        <p>Mira la infografia:</p>
        <img src="../cardio2.png" alt="" class="w-full md:w-[60%] my-8 mx-auto">

        <div class="mt-24 opacity-60 w-full">
            <p class="italic">
            1. Márquez JMC, Celis CC. Temario Resumido de Oposiciones de Educación Física Secundaria (LOMCE) Volumen II: Acceso al cuerpo de profesores de Enseñanza Secundaria. Wanceulen Editorial S.L; 2020.</p>
            <br>
            <p class="italic">
            2. Strempler M. Sistema cardio-respitariorio [Internet]. Disponible en: <span><a class="text-red-900 font-bold"  href="https://i.pinimg.com/originals/81/b8/76/81b87683bfe22b5e490c93443b1b914b.jpg">https://i.pinimg.com/originals/81/b8/76/81b87683bfe22b5e490c93443b1b914b.jpg</a></span>
            </p>
        </div>
    </div>
    <Footer/>
</Layout>