---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Termogénico de los alimentos y sin escalofríos | AVA">
    <div class="text-justify bg-white px-8 md:px-24 xl:px-48 pb-32" id="page1">
        <div class="h-48 flex justify-center align-middle ">
            <p class="text-2xl font-bold my-auto opacity-40">Conoce mas</p>
        </div>
        <h1 class="text-xl sm:text-3xl md:text-5xl font-extrabold my-auto pb-12 uppercase text-left">Termogénico de los alimentos y sin escalofríos. 
        </h1>
        <p>Después de ingerir alimentos, nuestra tasa metabólica aumenta, debido a las distintas reacciones químicas que acompañan el proceso de la digestión, absorción y almacenamiento de los alimentos dentro del organismo, a esto se le denomina el efecto termógeno de los alimentos, puesto que se requiere energía para estos procesos y se genera calor. El efecto termógeno de los alimentos explica el 8% del consumo energético diario de muchas personas (1).</p>
        <br>
        <p>La tiritona supone un medio para generar calor basado en una actividad muscular como respuesta al frío, pero existe otro mecanismo, el de la termogénica sin tiritona, el cual genera calor como respuesta al frío. Este se estimula con la activación del sistema nervioso simpática, el cual libera noradrenalina y adrenalina que, a su vez, aumentan la actividad metabólica y la producción de calor. Gracias a esta estimulación simpática índice a la liberación de cantidades grandes de calor, por parte de algunos tejidos grasos, como el de grasa parda, este tipo de grasa contiene muchas mitocondrias, la fosforilación oxidativa de las mitocondrias de estas células es fundamentalmente desacoplada, es decir que los nervios simpáticos estimularan a estas células, generando que las mitocondrias produzcan mucho calor, pero poco ATP. De este modo, toda la energía oxidativa liberada se transforma en calor (1).</p>
        <img src="../../public/termo2.png" alt="" class="w-full md:w-[30%] my-8 mx-auto">

        <div class="mt-24 opacity-60 w-full">
            <p class="italic">
            1. Hall JE. Guyton y Hall. Tratado de Fisiologia Medica + Studentconsult. 12a ed. Elsevier; 2016.</p>
        </div>
    </div>
    <Footer/>
</Layout>