---

---

<footer class="bg-gray-900">
    <div class="grid grid-cols-2 gap-8 py-8 xl:py-24 px-6 xl:px-32 md:grid-cols-4">
        <div>
            <h2 class="mb-6 text-sm font-bold text-red-500 uppercase">Explora</h2>
            <ul class="text-white">
                <li class="mb-4">
                    <a href="/" class=" hover:underline">Regreso a inicio</a>
                </li>
                <li class="mb-4">
                    <a href="/nosotras" class="hover:underline">Sobre nosotras</a>
                </li>
                <li class="mb-4">
                    <a href="/podcast" class="hover:underline">Podcast</a>
                </li>
                <li class="mb-4">
                    <a href="/sabias" class="hover:underline">Sabías que</a>
                </li>
                <li class="mb-4">
                    <a href="/glosario" class="hover:underline">Glosario</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-bold text-red-500 uppercase">Más info</h2>
            <ul class="text-white">
                <li class="mb-4">
                    <a href="/colombia" class="hover:underline">Bajas temperaturas en Colombia</a>
                </li>
                <li class="mb-4">
                    <a href="/latam-europa" class="hover:underline">Latinoamérica y Europa</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-bold text-red-500 uppercase">Conoce más</h2>
            <ul class="text-white">
                <li class="mb-4">
                    <a href="/acido-base" class="hover:underline">Ácido - base</a>
                </li>
                <li class="mb-4">
                    <a href="/cuidados" class="hover:underline">¿Cómo cuidarte en las bajas temperaturas?</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
