---
var isSidebarOpen = false
---
<div>
  <nav class="bg-white border-gray-200 px-8 sm:px-4 py-2.5 dark:bg-gray-900">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="/" class="flex items-center">
          <img src="./logo_h.png" class="mr-3 w-64" alt="AVA Logo">
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
      <div class="hidden w-full md:block md:w-auto">
        <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="/nosotras" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Nosotras</a>
          </li>
          <li>
            <a href="/glosario" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Glosario</a>
          </li>
          <li>
            <img src="https://cdn.britannica.com/68/7668-004-08492AB7/Flag-Colombia.jpg" alt="" style="max-width: 30px;">
          </li>
          <li>
            <a href="https://www.unisabana.edu.co/"><img src="./sabana.png" alt="" style="max-width: 100px;"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="bg-blue-900 flex justify-end px-8 py-2.5 dark:bg-gray-900">
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex flex-col p-4 mt-4 bg-blue-900 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0">
        <li>
          <a href="/" class="block py-2 pr-4 pl-3 text-white rounded hover:bg-blue-800 md:hover:bg-transparent md:border-0 md:hover:text-gray-300 md:p-0">Inicio</a>
        </li>
        <li>
          <a data-dropdown-toggle="dropdown" href="#" class="block py-2 pr-4 pl-3 text-white rounded hover:bg-blue-800  md:hover:bg-transparent md:border-0 md:hover:text-gray-300 md:p-0">Informacion</a>
          <div id="dropdown" class="hidden z-50 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
              <li>
                <a href="/podcast" class="block py-2 px-4 hover:bg-gray-300  dark:hover:bg-gray-600 dark:hover:text-white">La voz de la experiencia</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-dropdown-toggle="dropdown2" href="#" class="block py-2 pr-4 pl-3 text-white rounded hover:bg-blue-800  md:hover:bg-transparent md:border-0 md:hover:text-gray-300 md:p-0">Bajas temperaturas</a>
          <div id="dropdown2" class="hidden z-50 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault2">
              <li>
                <a href="/colombia" class="block py-2 px-4 hover:bg-gray-300 dark:hover:bg-gray-600 dark:hover:text-white">En Colombia</a>
              </li>
              <li>
                <a href="/latam-europa" class="block py-2 px-4 hover:bg-gray-300 dark:hover:bg-gray-600 dark:hover:text-white">Latinoamerica y Europa</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>